<section>
    <div class="donate-options">
        <div class="donate-options-head">
            <i class="fa fa-heart-o" aria-hidden="true"></i> &nbsp; Carbon Offset Projects
        </div>
        <div class="donate-options-subhead">
            Select the Organization or Project you wish to support.
        </div>
        <div class="donate-button-wrapper">
            <button class="donate-button" (click)="gotoDonateCart()">Donate</button>
        </div>
        <div class="donate-options-card">
            <div class="card-img">
                <img src="./../../../../assets/pictures/donate1.png" alt="">
            </div>
            <div class="card-title">
                Borehole Rehabilitation Project in Uganda
            </div>
            <div class="card-description">
                Type: Clean Drinking Water;<br>
                Location: Uganda, Africa;<br>
                Est. Reductions: 8,758 tCO2e per year
            </div>
            <div id="textbox" class="card-link">
                <p class="alignleft"><a class="card-left-link">Add to Donation List</a></p>
                <p class="alignright"><a class="card-right-link">Read Details</a></p>
            </div>
        </div>
        <div class="donate-options-card">
            <div class="card-img">
                <img src="./../../../../assets/pictures/donate2.png" alt="">
            </div>
            <div class="card-title">
                Borehole Rehabilitation Project in Uganda
            </div>
            <div class="card-description">
                Type: Clean Drinking Water;<br>
                Location: Uganda, Africa;<br>
                Est. Reductions: 8,758 tCO2e per year
            </div>
            <div id="textbox" class="card-link">
                <p class="alignleft"><a class="card-left-link">Add to Donation List</a></p>
                <p class="alignright"><a class="card-right-link">Read Details</a></p>
            </div>
        </div>
        <div class="donate-options-card">
            <div class="card-img">
                <img src="./../../../../assets/pictures/donate3.png" alt="">
            </div>
            <div class="card-title">
                Borehole Rehabilitation Project in Uganda
            </div>
            <div class="card-description">
                Type: Clean Drinking Water;<br>
                Location: Uganda, Africa;<br>
                Est. Reductions: 8,758 tCO2e per year
            </div>
            <div id="textbox" class="card-link">
                <p class="alignleft"><a href="#" class="card-left-link">Add to Donation List</a></p>
                <p class="alignright"><a class="card-right-link">Read Details</a></p>
            </div>
        </div>
        <div class="donate-button-wrapper">
            <button class="donate-button" (click)="gotoDonateCart()">Donate</button>
        </div>
        <div class="donate-options-footer">
            # Offset Carbon Footprint
        </div>
    </div>
</section>
