.donate-options {
    background-color: #05355A;
    color: #FFFFFF;
    padding: 5%;
}
img {
    width: 100%;
}
@media only screen  and (min-width : 1224px) {
    .donate-options-head {
        text-transform: uppercase;
        font-size: 2.5rem;
        font-family: kalam;
        font-weight: bold;
        text-align: center;
    }
    .fa-heart-o {
        color: #C1F7D5;;
    }
    .donate-options-subhead {
        font-size: 1.5rem;
        text-align: center;
    }
    .donate-options-footer {
        text-transform: uppercase;
        font-size: 1.8rem;
        font-family: kalam;
        font-weight: bold;
        text-align: center;
    }
    .donate-button-wrapper {
        text-align: center;
    }
    .donate-button {
        background-color: #C1F7D5;
        border: 1px solid #C1F7D5;
        color: #05355A;
        padding: 1% 10%;
        border-radius: 25px;
        font-weight: bold;
        margin: 3%;
        font-size: 1.5rem;
    }
    .donate-options-card {
        background-color: #FFFFFF;
        padding: 3%;
        color: #05355A;
        margin: 3% 0;
    }
    .card-title {
        font-size: 1.5rem;
        font-weight: bold;
        text-align: left;
    }
    .card-description {
        font-size: 1.3rem;
        font-weight: 200;
        text-align: left;
    }
    .card-link {
        margin-top: 5%;
        /* text-align: left; */
    }
    .card-left-link {
        color: #05355A;
        text-decoration: underline;
        /* text-align: left; */
    }
    .card-right-link {
        color: #05355A;
        text-decoration: underline;   
    }
    .link-left {
        float: left;
    }
    .link-right {
        float: right;
    }
    a :hover {
        color: #e7b649 !important;
        text-decoration: underline;
    }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .donate-options-head {
        text-transform: uppercase;
        font-size: 2.0rem;
        font-family: kalam;
        font-weight: bold;
        text-align: center;
    }
    .fa-heart-o {
        color: #C1F7D5;;
    }
    .donate-options-subhead {
        font-size: 1.0rem;
        text-align: center;
    }
    .donate-options-footer {
        text-transform: uppercase;
        font-size: 1.5rem;
        font-family: kalam;
        font-weight: bold;
        text-align: center;
    }
    .donate-button-wrapper {
        text-align: center;
    }
    .donate-button {
        background-color: #C1F7D5;
        border: 1px solid #C1F7D5;
        color: #05355A;
        padding: 1% 10%;
        border-radius: 25px;
        font-weight: bold;
        margin: 5%;
        font-size: 1.5rem;
    }
    .donate-options-card {
        background-color: #FFFFFF;
        padding: 3%;
        color: #05355A;
        margin: 3% 0;
    }
    .card-title {
        font-size: 1.5rem;
        font-weight: bold;
        text-align: left;
    }
    .card-description {
        font-size: 1.3rem;
        font-weight: 200;
        text-align: left;
    }
    .card-link {
        margin-top: 5%;
        padding-bottom: 4%;
    }
    .card-left-link {
        color: #05355A;
        text-decoration: underline;
    }
    .card-right-link {
        color: #05355A;
        text-decoration: underline;   
    }
    a :hover {
        color: #e7b649 !important;
        text-decoration: underline;
    }
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px){
    .donate-options-head {
        text-transform: uppercase;
        font-size: 1.8rem;
        font-family: kalam;
        font-weight: bold;
        text-align: center;
    }
    .fa-heart-o {
        color: #C1F7D5;;
    }
    .donate-options-subhead {
        font-size: 1.0rem;
        text-align: center;
    }
    .donate-options-footer {
        text-transform: uppercase;
        font-size: 1.2rem;
        font-family: kalam;
        font-weight: bold;
        text-align: center;
    }
    .donate-button-wrapper {
        text-align: center;
    }
    .donate-button {
        background-color: #C1F7D5;
        border: 1px solid #C1F7D5;
        color: #05355A;
        padding: 1% 10%;
        border-radius: 25px;
        font-weight: bold;
        margin: 7% 0;
        font-size: 1.0rem;
    }
    .donate-options-card {
        background-color: #FFFFFF;
        padding: 3%;
        color: #05355A;
        margin: 3% 0;
    }
    .card-title {
        font-size: 1.5rem;
        font-weight: bold;
        text-align: left;
    }
    .card-description {
        font-size: 1.3rem;
        font-weight: 200;
        text-align: left;
    }
    .card-link {
        margin-top: 5%;
        padding-bottom: 8%;
    }
    .card-left-link {
        color: #05355A;
        text-decoration: underline;
    }
    .card-right-link {
        color: #05355A;
        text-decoration: underline;   
    }
    a :hover {
        color: #e7b649 !important;
        text-decoration: underline;
    }
}
.alignleft {
	float: left;
}
.alignright {
	float: right;
}