/* banner starts */
.banner {
    /* text-align: center; */
    /* padding: 0 5% 3%; */
    margin-left: 25%;
    margin-right: 25%;
}

section {
    background-color: #05355A;
}

.banner-img {
    /* border: 5px solid #C1F7D5;
    border-radius: 20px; */
    background-size: cover;
    width: 100%;
}
.weclome-text {
    margin-top: 3%;
    color: #FFFFFF;
}
/* banner ends */

label {
    color: #FFFFFF;
    font-size: 1 em;
    font-family: 'Roboto';
}

/* Input Border */

input {
    border: 0;
    background-color: transparent;
    border-bottom: 2px solid #C1F7D5;
    border-radius: 0px;
}
input:focus {
    border: 0;
    background-color: transparent;
    border-bottom: 2px solid #C1F7D5;
    border-radius: 0px;
  }

  /* checkbox */

  .checkbox {
      color: #FFFFFF;
  }

  /* button */
  .text-span{
    background:#C1F7D5;
    border-radius:50px;
    display: inline-block;
    text-align: center;
    color:rgb(22, 19, 19);
    padding: 3px 60px 6px;
    font-size: 20px;
    font-weight: 600;
}

@media screen and (max-width: 600px) {
    .banner{
        margin-left: 5%;
        margin-right: 5%;
    }
}