/* banner starts */
.banner {
    /* text-align: center; */
    /* padding: 0 5% 3%; */
    margin-left: 20%;
    margin-right: 20%;
}

.profile-img {
    height: 100px;
    width: 100px;
    float: right;
    border: 3px solid gray;
    border-radius: 100%;
    margin-top: 1%;
}
.banner-img {
    /* border: 5px solid #C1F7D5; */
    /* border-radius: 20px; */
    background-image: url("./../../../../assets/pictures/Protest.jpg");
    height: 400px;
    background-size: cover;
    width: 100%;
}


section {
    background-color: #05355A;
}

.banner-img {
    /* border: 5px solid #C1F7D5;
    border-radius: 20px; */
    background-size: cover;
    width: 100%;
}
.weclome-text {
    margin-top: 3%;
    color: #FFFFFF;
}
/* banner ends */

label {
    color: #FFFFFF;
    font-size: 1 em;
    font-family: 'Roboto';
}

/* Input Border */
.invalid-feedback {
    color: red;
    display: inline-block;
    font-size: 1.0rem;
    padding-left: 2%;
    margin-bottom: 1%;
}
input {
    border: 0;
    background-color: transparent;
    border-bottom: 2px solid #C1F7D5;
    border-radius: 0px;
    color: #FFFFFF;
}
input:focus {
    border: 0;
    background-color: transparent;
    border-bottom: 2px solid #C1F7D5;
    border-radius: 0px;
    color: #FFFFFF;
}
.email-control {
    /* color: #000000; */
    background: transparent;
}

  /* checkbox */

  .checkbox {
      color: #FFFFFF;
  }

  /* button */
  .text-span{
    background:#C1F7D5;
    border-radius:50px;
    display: inline-block;
    text-align: center;
    color:rgb(22, 19, 19);
    padding: 3px 60px 6px;
    font-size: 20px;
    font-weight: 600;
}
.read-tc {
    color: #FFFFFF;
    text-decoration: underline;
}
a:hover {
    color: #e7b649 !important;
    text-decoration: underline;
}
.custom-file-label {
    color: #000000;
}

@media screen and (max-width: 600px) {
    .banner{
        margin-left: 5%;
        margin-right: 5%;
    }
    .invalid-feedback {
        color: red;
        display: inline-block;
        font-size: 1.0rem;
        padding-left: 5%;
        margin-bottom: 1%;
    }
    .profile-img {
        height: 85px;
        width: 85px;
        float: right;
        border: 3px solid gray;
        border-radius: 100%;
        margin-top: 1%;
    }
    .banner-img {
        /* border: 5px solid #C1F7D5; */
        /* border-radius: 20px; */
        background-image: url("./../../../../assets/pictures/Protest.jpg");
        height: 200px;
        background-size: cover;
        width: 100%;
    }
    
}