<!-- banner starts -->
<section> 
    <div class="banner">
        <div class="banner-img" [ngStyle]="{'background-image': 'url(' + bannerImage + ')'}">
            <div class="profile-image-part">
                <img src="{{profileImage}}" alt="banner-img" class="profile-img">
            </div>
        </div>
        <div class="form">
            <div class="row mt-4">
                <div class="form-group col-xs-6 col-md-6 col-sm-6">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroupFileAddon01" >Profile</span>
                        </div>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="inputGroupFile01"
                             aria-describedby="inputGroupFileAddon01" #fileData name="fileData" (change)="selectFile($event)" >
                            <label class="custom-file-label" for="inputGroupFile01">{{profile}}</label>
                        </div>
                    </div>
                    <!-- <input type="file" (change)="selectFile($event)" />
                    <br>
                    <br>
                    <button class="btn btn-success btn-sm" [disabled]="!selectedFiles" (click)="upload()">UPLOAD PROFILE PICTURE</button> -->
                    <!-- <label for="inputEmail4">UPLOAD PROFILE PICTURE</label> -->
                    <!-- <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                        </div>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="inputGroupFile01"
                                aria-describedby="inputGroupFileAddon01">
                            <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                        </div>
                    </div> -->
                </div>
                <div class="form-group col-xs-6 col-md-6 col-sm-6">
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroupFileAddon01" >Banner</span>
                        </div>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="inputGroupFile01"
                             aria-describedby="inputGroupFileAddon01" #fileData1 name="fileData1" (change)="selectFile1($event)" >
                            <label class="custom-file-label" for="inputGroupFile01">{{banner}}</label>
                        </div>
                    </div>
                    <!-- <input type="file" (change)="selectFile1($event)" />
                    <br>
                    <br>
                    <button class="btn btn-success btn-sm" [disabled]="!selectedFiles1" (click)="upload1()">UPLOAD PROFILE BANNER</button> -->
                    <!-- <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroupFileAddon01">Upload</span>
                        </div>
                        <div class="custom-file">
                            <input type="file" class="custom-file-input" id="inputGroupFile01"
                                aria-describedby="inputGroupFileAddon01">
                            <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                        </div>
                    </div> -->
                    <!-- <input type="file" class="custom-file-input" id="inputGroupFile01"
                                aria-describedby="inputGroupFileAddon01"> -->
                </div>
            </div>
            <div class="skip-div">
                <a routerLink="/pages/landing-page" class="skip-btn">Skip</a>
            </div>
            <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class="form-group col-xs-6 col-md-12 col-sm-6">
                        <label for="DisplayName">DISPLAY NAME</label>
                        <input type="text" class="form-control" id="DisplayName" formControlName="DisplayName"
                         [ngClass]="{ 'is-invalid': submitted && f?.DisplayName?.errors }" required>
                    </div>
                    <div *ngIf="submitted && f.DisplayName.errors" class="invalid-feedback">
                        <div *ngIf="f?.DisplayName.errors.required">DisplayName is required.</div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-xs-6 col-md-12 col-sm-6">
                        <label for="About">ABOUT</label>
                        <input type="text" class="form-control" id="About" formControlName="About" 
                        [ngClass]="{ 'is-invalid': submitted && f?.About?.errors }" required>
                    </div>
                    <div *ngIf="submitted && f.About.errors" class="invalid-feedback">
                        <div *ngIf="f?.About.errors.required">About is required.</div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-xs-6 col-md-6 col-sm-6">
                        <label for="FirstName">FIRST NAME</label>
                        <input type="text" class="form-control" id="FirstName" formControlName="FirstName"
                        [ngClass]="{ 'is-invalid': submitted && f?.FirstName?.errors }" required>
                    </div>
                    <div *ngIf="submitted && f.FirstName.errors" class="invalid-feedback">
                        <div *ngIf="f?.FirstName.errors.required">FirstName is required.</div>
                    </div>
                    <div class="form-group col-xs-6 col-md-6 col-sm-6">
                        <label for="LastName">LAST NAME</label>
                        <input type="text" class="form-control" id="LastName" formControlName="LastName"
                        [ngClass]="{ 'is-invalid': submitted && f?.LastName?.errors }" required>
                    </div>
                    <div *ngIf="submitted && f.LastName.errors" class="invalid-feedback">
                        <div *ngIf="f?.LastName.errors.required">LastName is required.</div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-xs-12 col-md-12 col-sm-12">
                        <label for="StreetAddress">STREET ADDRESS</label>
                        <input type="email" class="form-control" id="StreetAddress" formControlName="StreetAddress" 
                        [ngClass]="{ 'is-invalid': submitted && f?.StreetAddress?.errors }" required>
                    </div>
                    <div *ngIf="submitted && f.StreetAddress.errors" class="invalid-feedback">
                        <div *ngIf="f?.StreetAddress.errors.required">StreetAddress is required.</div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-xs-4 col-md-4 col-sm-4">
                        <label for="ZipCode">ZIP CODE</label>
                        <input type="email" class="form-control" id="ZipCode" formControlName="ZipCode" 
                        [ngClass]="{ 'is-invalid': submitted && f?.ZipCode?.errors }" required>
                    </div>
                    <div *ngIf="submitted && f.ZipCode.errors" class="invalid-feedback">
                        <div *ngIf="f?.ZipCode.errors.required">ZipCode is required.</div>
                    </div>
                    <div class="form-group col-xs-4 col-md-4 col-sm-4">
                        <label for="State">STATE</label>
                        <input type="text" class="form-control" id="State" formControlName="State" 
                        [ngClass]="{ 'is-invalid': submitted && f?.State?.errors }" required>
                    </div>
                    <div *ngIf="submitted && f.State.errors" class="invalid-feedback">
                        <div *ngIf="f?.State.errors.required">State is required.</div>
                    </div>
                    <div class="form-group col-xs-4 col-md-4 col-sm-4">
                        <label for="AgeGroup">AGE GROUP</label>
                        <input type="text" class="form-control" id="AgeGroup" formControlName="AgeGroup" 
                        [ngClass]="{ 'is-invalid': submitted && f?.AgeGroup?.errors }" required>
                    </div>
                    <div *ngIf="submitted && f.AgeGroup.errors" class="invalid-feedback">
                        <div *ngIf="f?.AgeGroup.errors.required">Age is required.</div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-xs-12 col-md-12 col-sm-12">
                        <label for="EmailId">EMAIL ID</label>
                        <input type="email" class="form-control email-control" id="EmailId" formControlName="EmailId" 
                        [ngClass]="{ 'is-invalid': submitted && f?.EmailId?.errors }" required>
                    </div>
                    <div *ngIf="submitted && f.EmailId.errors" class="invalid-feedback">
                        <div *ngIf="f?.EmailId.errors.required">EmailId is required.</div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-xs-12 col-md-12 col-sm-12">
                        <label for="Occupation">OCCUPATION</label>
                        <input type="email" class="form-control" id="Occupation" formControlName="Occupation" 
                        [ngClass]="{ 'is-invalid': submitted && f?.Occupation?.errors }" required>
                    </div>
                    <div *ngIf="submitted && f.Occupation.errors" class="invalid-feedback">
                        <div *ngIf="f?.Occupation.errors.required">Occupation is required.</div>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-xs-10 col-md-10 col-sm-10">
                        <span class="checkbox">
                            <input type="checkbox" formControlName="isChecked" (change)="onCheckChange($event)"> &nbsp;
                            I agree to the terms and conditions of this site. 
                        </span> 
                    </div>
                    <div class="form-group col-xs-2 col-md-2 col-sm-2">
                        <div class="float-right" >
                            <a href="#" class="read-tc">Read T&C</a>
                        </div>
                    </div>
                </div>
                <div class="skip-div">
                    <a routerLink="/pages/landing-page" class="skip-btn">Skip</a>
                </div>
                <div class="row">
                    <div class="form-group col-xs-12 col-md-12 col-sm-12 text-center">
                        <button type="submit" class="btn btn-info  border-0 text-span mt-4" [disabled]="!profileForm.valid && !isChecked">CREATE PROFILE</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
<!-- banner ends-->