/* .take-action {
    background: url("../../../assets/pictures/Collaborate.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
   }

.white-bg {
    background-color: #fff;
}

.overlay-text{
    color: #fff;
}

span, .overlay-text {
    background-color: darkblue;
    padding: 7px 0px;
    width: 30%;
}

.align-middle {
    margin-top:50%;
} */

.banner {
    background-image: url("./../../../assets/pictures/landon-parenteau-12rtohgXu9I-unsplash.jpg");
}
.right-head-text{
    color: #fff;
    text-align: right;
    font-family: cursive;
}