<!-- banner starts -->
<section class="wrapper">
    <div class="banner-section">
        <div class="banner">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-xs-6">
                    <span class="right-head-text">
                        <h1 class="right-head-text-main"><strong>Offset Carbon Footprint</strong></h1>
                        <h2 class="banner-footer">#stop climate change.</h2>
                    </span>
                </div>
                <div class="col-lg-6 col-sm-12 col-md-6">
                    <div class="left-banner-part">
                        <div class="issue-wrapper">
                            <div class="issue-badge">THE ISSUE</div>
                        </div>
                        <div class="left-text-part">
                            <h1 class="main-baneer-head">
                                <strong>
                                    The human race has only one last chance to reverse climate change.
                                </strong>
                            </h1>
                            <a target="_blank" href="https://climate.nasa.gov/interactives/climate-time-machine"
                             class="banner-link">Read more about impact of climate change on our planet</a>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</section>
<!-- banner ends -->

<!-- action starts -->
<section>
    <div class="action-section">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 action-head">
                <div class="action-wrapper">
                    <button class="action-badge">TAKE ACTION</button>
                </div>
            </div>
        </div>
        <div class="row action-items">
            <div class="col .col-sm-6 box">
                <div class="action-title">Learn</div>
                <div class="action-description">
                    Get the facts about this issue and how we’re helping.
                </div>
            </div>
            <div class="col .col-sm-6 box">
                <div class="action-title">Carbon footprint</div>
                <div class="action-description">
                    Take the questionnaire to calculate your carbon footprint
                </div>
            </div>
            <div class="col .col-sm-6 box">
                <div class="action-title">Volunteer</div>
                <div class="action-description">
                    Find out about upcoming events that need your help.
                </div>
            </div>
            <div class="col .col-sm-6 box">
                <div class="action-title">Take Action</div>
                <div class="action-description">
                    Do something reduce your carbon footprint and log it here
                </div>
            </div>
            <div class="col .col-sm-6 box">
                <div class="action-title">Share</div>
                <div class="action-description">
                    Let your social media networks know about your effort towards this cause.
                </div>
            </div>
            <div class="col .col-sm-6 box">
                <div class="action-title">Donate</div>
                <div class="action-description">
                    Help NGOs raise money to make a big difference with this issue.
                </div>
            </div>
        </div>
    </div>
</section>
<!-- action ends -->

<!-- what we do starts -->
<section>
    <div class="what-we-do">
        <div class="row head-badge">
            <div class="col-lg-12 col-md-12 col-sm-12 wedo-wrapper">
                <button class="wedo-badge">WHAT WE DO</button>
            </div>
        </div>
        <div class="wedo-head-text">
            <h1 class="wedo-main-head-text">Our mission is to create awareness and provide a platform to users to take action and reduce Carbon Footprint to slow climate change.</h1>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="do-items">
                    <img src="./../../../assets/pictures/sapling.jpg" alt="" class="item-image">
                    <div class="item-title">
                        Tree Planting Initiatives
                    </div>
                    <div class="item-description">
                        World over there are many organizations, helping in reforestation of barren or old mines. They have selected such sites worldwide and encouraging people to plant tree and reduce CO2.
                    </div>
                    <div class="btn-wrapper1">
                        <button class="do-read-more">Read more</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="do-items">
                    <img src="./../../../assets/pictures/Bees.jpg" alt="" class="item-image">
                    <div class="item-title">
                        Spread Awareness
                    </div>
                    <div class="item-description">
                        One of the primary goal of this initiative is to spread awareness about the impact of climate change and options available with in our reach to lead a
                    </div>
                    <div class="btn-wrapper1">
                        <button class="do-read-more">Read more</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-4 col-sm-12">
                <div class="do-items">
                    <img src="./../../../assets/pictures/Awareness.jpg" alt="" class="item-image">
                    <div class="item-title">
                        Collaboration
                    </div>
                    <div class="item-description">
                        Climate change is a world problem and not bounded by geo boundaries. We Collaborate with Organizations and like minded groups and people to bring the desired change.
                    </div>
                    <div class="btn-wrapper1">
                        <button class="do-read-more">Read more</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- what we do ends -->

<!-- do you know section starts -->
<section>
    <div class="dou-know">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 text-part">
                <h1 class="dou-know-head-text"><strong>Climate <br> change is a <br> socio economic <br> issue</strong></h1>
                <div class="action-btn-wrapper">
                    <button class="take-action-badge">Take Action</button>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 dou-know-item-part">
                <div class="do-you-btn-wrapper">
                    <button class="do-you-know-badge">Did you know?</button>
                </div>
                <!-- <div class="do-u-know-item">
                    <div class="row">
                        <div class="col-lg-10 col-md-10 col-sm-10">
                            <div class="dou-know-title">
                                CO2 Concentration
                            </div>
                            <div class="dou-know-description">
                                In our atmosphere, as of May 2020, is the highest it has been in human history
                            </div>
                        </div>
                        <div class="col-lg-2 col-md-2 col-xs-6">
                            <div class="social-icons">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </div>
                            <div class="social-icons">
                                <i class="fa fa-facebook-official" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div> -->
                <div class="do-u-know-item">
                    <div class="d-flex flex-row mb-2">
                        <div class="col-lg-11 col-md-11 col-sm-11 do-col">
                            <div class="dou-know-title">
                                CO<sub>2</sub> Concentration
                            </div>
                            <div class="dou-know-description">
                                In our atmosphere, as of May 2020, is the highest it has been in human history
                            </div>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 do-col icons-col">
                            <div class="social-icons">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </div>
                            <div class="social-icons">
                                <i class="fa fa-facebook-official" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="do-u-know-item">
                    <div class="d-flex flex-row mb-2">
                        <div class="col-lg-11 col-md-11 col-sm-11 do-col">
                            <div class="dou-know-title">
                                1 Billion animals
                            </div>
                            <div class="dou-know-description">
                                Died in 4 months of wild fire in Australia alone in 2019... and there has been more such indecents
                            </div>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 do-col icons-col">
                            <div class="social-icons">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </div>
                            <div class="social-icons">
                                <i class="fa fa-facebook-official" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="do-u-know-item">
                    <div class="d-flex flex-row mb-2">
                        <div class="col-lg-11 col-md-11 col-sm-11 do-col">
                            <div class="dou-know-title">
                                800 million +
                            </div>
                            <div class="dou-know-description">
                                People are currently vulnerable to climate change impact
                            </div>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 do-col icons-col">
                            <div class="social-icons">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </div>
                            <div class="social-icons">
                                <i class="fa fa-facebook-official" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="do-u-know-item">
                    <div class="d-flex flex-row mb-2">
                        <div class="col-lg-11 col-md-11 col-sm-11 do-col">
                            <div class="dou-know-title">
                                200 million +
                            </div>
                            <div class="dou-know-description">
                                Refugees will be dealing with food shortages by the year 2050 due to climate impact
                            </div>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1 do-col icons-col">
                            <div class="social-icons">
                                <i class="fa fa-twitter" aria-hidden="true"></i>
                            </div>
                            <div class="social-icons">
                                <i class="fa fa-facebook-official" aria-hidden="true"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- do you know section ends-->

<!-- article starts -->
<section>
    <div class="article-part">
        <div class="article-wrapper">
            <button class="article-badge">ARTICLE</button>
        </div>
        <div class="slider">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                  <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                  <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner" interval="1000">
                    <!-- <div class="carousel-item active">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="carousel-left-part">
                                    <h3 class="carousel-title">The Climate Crisis Is Global, but 
                                        These 6 Places Face the Most Severe 
                                        Consequences
                                    </h3>
                                    <p class="carousel-description">
                                        The Climate Crisis Is Global, but 
                                        These 6 Places Face the Most Severe 
                                        Consequences
                                    </p>
                                    <div class="readmore-wrapper">
                                        <button class="read-more">Read more</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <img src="./../../../assets/pictures/usgs-CGxdRJknf4I-unsplash.jpg" alt="" class="article-image">
                            </div>
                        </div>
                    </div> -->
                    <div class="carousel-item active">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="carousel-left-part">
                                    <h3 class="carousel-title">
                                        Madagascar on the brink of climate change-induced famine
                                    </h3>
                                    <p class="carousel-description">
                                        Madagascar is on the brink of experiencing the world's first "climate change famine", according to the United Nations, which says tens of thousands of people are already suffering "catastrophic" levels of hunger and food insecurity after four years without rain.
                                    </p>
                                    <div class="readmore-wrapper">
                                        <a target="_blank" href="https://www.bbc.com/news/world-africa-58303792" class="read-more">Read more</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <img src="./../../../assets/pictures/newsart2.png" alt="" class="article-image">
                            </div>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="carousel-left-part">
                                    <h3 class="carousel-title">
                                        Amazon, meet Amazon: Tech giant rolls out rainforest carbon offset project
                                    </h3>
                                    <p class="carousel-description">
                                        Tech giant Amazon has announced a nature-based carbon removal project in the Brazilian Amazon Rainforest in partnership with The Nature Conservancy (TNC)
                                    </p>
                                    <div class="readmore-wrapper">
                                        <a target="_blank" href="https://news.mongabay.com/2021/09/amazon-meet-amazon-tech-giant-rolls-out-rainforest-carbon-offset-project/" class="read-more">Read more</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <img src="./../../../assets/pictures/newsart1.png" alt="" class="article-image">
                            </div>
                        </div>
                    </div>
                    <!-- <div class="carousel-item">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="carousel-left-part">
                                    <h3 class="carousel-title">The Climate Crisis Is Global, but 
                                        These 6 Places Face the Most Severe 
                                        Consequences
                                    </h3>
                                    <p class="carousel-description">
                                        The Climate Crisis Is Global, but 
                                        These 6 Places Face the Most Severe 
                                        Consequences
                                    </p>
                                    <div class="readmore-wrapper">
                                        <button class="read-more">Read more</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <img src="./../../../assets/pictures/Awareness.jpg" alt="" class="article-image">
                            </div>
                        </div>
                    </div> -->
                </div>
            </div>
        </div>
        
    </div>
</section>
<!-- article ends -->

<!-- pledge starts -->
<section>
    <div class="pledge-part">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="pledge-description">
                    <h1 class="pledge-text">I Pledge allegiance with Earth and all the life it supports. I will do everything in my power to save and protect it</h1>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="btn-wrapper">
                    <input type="text" class="email-input" placeholder="Enter Email Id" />
                    <br>
                    <button class="pledge-button">Take the Pledge</button>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- pledge ends -->

