/* banner starts */
.banner {
    background-image: url("./../../../assets/pictures/home1.jpg");
    /* background-size: cover; */
    padding: 5%;
    background-position: right;
    padding-bottom: 3em;
}
@media only screen  and (min-device-width : 320px) and (max-device-width : 480px){
    .banner {
        background-image: url("./../../../assets/pictures/home1.jpg");
        /* background-size: cover; */
        padding: 5%;
        background-size: cover;
    }
    /* Styles */
    .left-banner-part {
        width: 100%;
        background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0.8) 100%);
        padding: 7%;
    }
    .issue-wrapper {
        text-align: center;
    }
    .issue-badge {
        position: absolute;
        color: #FFFFFF;
        background-color: #05355A;
        padding: 0.4em 3em;
        top: -5%;
        font-size: 1.1em;
    }
    .left-text-part {
        color: #05355A;
        padding: 8% 5% 0%;
    }
    .banner-link {
        color: #05355A;
        margin-top: 5rem;
        text-decoration: underline;
    }
    .right-head-text{
        top: 10%;
        color: #FFFFFF;
        text-align: right;
        font-family: kalam;
        position: relative;
        font-weight: 700;
        right: 3%;
        text-transform: uppercase;
    }
    .banner-footer {
        font-weight: bold;
        margin-top: 10%;
        margin-bottom: 10%;
        font-size: 1.5rem; 
    }
    .main-baneer-head {
        font-size: 1.8rem;
    }
}
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .banner {
        background-image: url("./../../../assets/pictures/home1.jpg");
        /* background-size: cover; */
        padding: 5%;
    }
    /* Styles */
    .left-banner-part {
        /* background-color: #FFFFFF;
        padding: 5%; */
        background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0.8) 100%);
    }
    .issue-wrapper {
        text-align: center;
    }
    .issue-badge {
        position: absolute;
        color: #FFFFFF;
        background-color: #05355A;
        padding: 1% 5%;
        top: -5%;
        left: 10%;
    }
    .left-text-part {
        color: #05355A;
        padding: 8% 5% 5%;
    }
    .main-baneer-head {
        font-size: 2.0rem;
        margin-bottom: 5%;
    }
    .banner-link {
        margin-top: 5%;
        margin-bottom: 5%;
        text-decoration: underline;
        color: #05355A;
    }
    .right-head-text{
        color: #FFFFFF;
        text-align: right;
        font-family: kalam;
        position: relative;
        right: 3%;
        font-weight: 700;
        text-transform: uppercase;
    }
    .right-text {
        font-size: 3.5rem !important;
        text-transform: uppercase;
    }
    /* .banner-footer {
        margin-top: 40%;
        margin-bottom: 0%;
    } */
}
@media only screen  and (min-width : 1224px) {
    .banner {
        background-image: url("./../../../assets/pictures/home1.jpg");
        /* background-size: cover; */
        padding: 5%;
    }
    .left-banner-part {
        background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0.8) 100%);
        padding: 5%;
    }
    .issue-wrapper {
        text-align: center;
    }
    .issue-badge {
        position: absolute;
        color: #FFFFFF;
        background-color: #05355A;
        padding: 1% 5%;
        top: -5%;
    }
    .left-text-part {
        color: #05355A;
        padding: 5% 5% 0%;
    }
    .main-baneer-head {
        font-size: 2.5rem;
        margin-bottom: 5%;
    }
    .banner-link {
        color: #05355A;
        margin-top: 5rem;
        text-decoration: underline;
    }
    .banner-link :hover {
        color: #e7b649 !important;
    }
    .right-head-text{
        color: #FFFFFF;
        text-align: right;
        font-family: kalam;
        position: relative;
        right: 3%;
        font-weight: bold;
        text-transform: uppercase;
        /* font-size: 2.9rem; */
    }
    .right-head-text-main {
        margin: 1% 2%;
        font-size: 3.5rem !important;
        text-transform: uppercase;
    }
    .right-text {
        font-size: 4.0rem !important;
        text-transform: uppercase;
    }
    .banner-footer {
        /* margin-top: 40%; */
        margin-bottom: 0%;
        font-weight: bold;
    }
}
/* banner ends */

/* action starts */

@media only screen  and (min-width : 1224px) {
    .action-items {
        padding: 2% 5%;
    }
    .action-section {
        background-color: #C1F7D5;
        /* padding: 2%; */
    }
    .action-head {
        margin-top: -2% !important;
    }
    .action-wrapper {
        text-align: center;
    }
    .action-badge {
        color: #FFFFFF;
        background-color: #05355A;
        border: 1px solid #05355A;
        padding: 1% 4%;
       
    }
    .actions {
        padding: 3%;
    }
    .action-title {
        color: #05355A;
        font-weight: bold;
        margin-bottom: 2%;
        font-size: 1.2rem;
    }
    .action-description {
        color: #05355A;
    }
}

@media only screen  and (min-width : 768px) {
    .action-items {
        padding: 2% 5%;
    }
    .action-section {
        background-color: #C1F7D5;
        /* padding: 2%; */
    }
    .action-head {
        margin-top: -2% !important;
    }
    .action-wrapper {
        text-align: center;
    }
    .action-badge {
        color: #FFFFFF;
        background-color: #05355A;
        border: 1px solid #05355A;
        padding: 1% 4%;
        margin: 0.7em !important;
    }
    .actions {
        padding: 3%;
    }
    .action-title {
        color: #05355A;
        font-weight: bold;
        margin-bottom: 2%;
        font-size: 1.2rem;
    }
    .action-description {
        color: #05355A;
    }
}

@media only screen  and (min-device-width : 320px) and (max-device-width : 480px){
    .action-items {
        padding: 5%;
    }
    .action-section {
        background-color: #C1F7D5;
        /* padding: 2%; */
    }
    .action-head {
        margin-top: -2% !important;
    }
    .action-wrapper {
        text-align: center;
    }
    .action-badge {
        color: #FFFFFF;
        background-color: #05355A;
        border: 1px solid #05355A;
        padding: 0.5em 2em;
        margin: -2.3em;
    }
    .actions {
        padding: 3%;
    }
    .action-title {
        color: #05355A;
        font-weight: bold;
        margin: 2%;
        text-align: center;
        font-size: 1.2rem;
    }
    .action-description {
        color: #05355A;
        text-align: center;
    }
}
/* action ends */

/* what we do starts */
.do-col {
    padding: 0;
}
@media only screen  and (min-width : 1224px) {
    .what-we-do {
        background-color: #05355A;
        padding: 5%;
    }
    .wedo-wrapper {
        text-align: left;
    }
    .wedo-badge {
        background-color: #FFFFFF;
        border: #FFFFFF;
        color: #05355A;
        padding: 1% 4%;
    }
    .wedo-head-text {
        color: #FFFFFF;
        margin-top: 2%;
    }
    .do-items {
        background-color: #FFFFFF;
        margin: 5% 2%;
        padding: 3%;
    }
    .item-image {
        width: 100%;
        height: 13rem;
        margin-top: -7%;
    }
    .item-title {
        margin-top: 10px;
        color: #05355A;
        font-weight: bold;
        font-size: 1.5rem;
        text-align: center;
    }
    .item-description {
        color:  #05355A;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 4; /* number of lines to show */
        -webkit-box-orient: vertical;
    }
    .btn-wrapper1 {
        text-align: center;
        margin: 2%;
        margin-top: 5%;
    }
    .do-read-more {
        background-color: #C1F7D5;
        border: 1px solid #C1F7D5;
        border-radius: 20px;
        font-weight: bold;
        color: #05355A;
        padding: 2% 7%;
    }
}

@media only screen  and (min-width : 768px) {
    .what-we-do {
        background-color: #05355A;
        padding: 5%;
    }
    .wedo-wrapper {
        text-align: left;
    }
    .wedo-badge {
        background-color: #FFFFFF;
        border: #FFFFFF;
        color: #05355A;
        padding: 1% 4%;
    }
    .wedo-head-text {
        color: #FFFFFF;
        margin-top: 3%;
        font-size: 2.0rem;
    }
    .do-items {
        background-color: #FFFFFF;
        margin: 5% 2%;
        padding: 3%;
    }
    .item-image {
        width: 100%;
        height: 13rem;
        margin-top: -7%;
    }
    .item-title {
        margin-top: 10px;
        color: #05355A;
        font-weight: bold;
        font-size: 1.5rem;
        text-align: center;
    }
    .item-description {
        color:  #05355A;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 4; /* number of lines to show */
        -webkit-box-orient: vertical;
    }
    .btn-wrapper1 {
        text-align: center;
        margin: 2%;
        margin-top: 5%;
    }
    .do-read-more {
        background-color: #C1F7D5;
        border: 1px solid #C1F7D5;
        border-radius: 20px;
        font-weight: bold;
        color: #05355A;
        padding: 2% 7%;
    }
}

@media only screen  and (min-device-width : 320px) and (max-device-width : 480px) {
    .what-we-do {
        background-color: #05355A;
        padding: 5%;
    }
    .wedo-wrapper {
        text-align: center;
    }
    .wedo-badge {
        background-color: #FFFFFF;
        border: #FFFFFF;
        color: #05355A;
        padding: 1% 4%;
    }
    .wedo-head-text {
        color: #FFFFFF;
        margin-top: 2%;
        margin: 2%;
    }
    .wedo-main-head-text {
        font-size: 1.8rem;
        text-align: center;
    }
    .do-items {
        background-color: #FFFFFF;
        margin: 5% 2%;
        padding: 3%;
    }
    .item-image {
        width: 100%;
        /* height: 13rem; */
        margin-top: -9%;
        text-align: center;
        padding: 0 0.6em;
    }
    .item-title {
        margin-top: 10px;
        color: #05355A;
        font-weight: bold;
        font-size: 1.5rem;
        text-align: center;
    }
    .item-description {
        color:  #05355A;
        text-align: center;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 4; /* number of lines to show */
        -webkit-box-orient: vertical;
    }
    .btn-wrapper1 {
        text-align: center;
        margin: 2%;
        margin-top: 5%;
    }
    .do-read-more {
        background-color: #C1F7D5;
        border: 1px solid #C1F7D5;
        border-radius: 20px;
        font-weight: bold;
        color: #05355A;
        padding: 2% 7%;
    }
}
/* what we do ends */

/* dou know starts */
.fa-facebook-official {
    font-size: 20px;
    /* background-color: ; */
}
@media only screen  and (min-width : 1224px) {
    .dou-know {
        background-image: url("./../../../assets/pictures/Collaborate.jpg");
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        width: 100%;
        padding: 10% 15%;
    }
    .text-part {
        color: #FFFFFF;
        text-transform: uppercase;
    }
    .action-btn-wrapper {
        margin: 10%;
        text-align: center;
    }
    .dou-know-head-text {
        font-size: 3.5rem;
        font-family: kalam;
        font-weight: bold;
    }
    .take-action-badge {
        background-color: #C1F7D5;
        border: 1px solid #C1F7D5;
        border-radius: 20px;
        font-weight: bold;
        color: #05355A;
        padding: 2% 7%;
    }
    .do-you-btn-wrapper {
        text-align: center;
    }
    .do-you-know-badge {
        background-color: #05355A;
        border: 1px solid #05355A;
        color: #FFFFFF;
        text-transform: uppercase;
        padding: 3% 10%;
    }
    .do-u-know-item {
        border-radius: 10px;
        background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0.8) 100%);
        margin: 3%;
        margin-bottom: 7%;
        padding: 5%;
    }
    .dou-know-title {
        color: #05355A;
        font-size: 1.5rem;
        font-weight: bold;
    }
    .dou-know-description {
        color: #05355A;
        padding-left: 5%;
        padding: 3%;
        font-size: 1.1rem;
    }
    .social-icons {
        /* background-color: #C1F7D5;
        color: #05355A;
        margin: 25% 2%;
        font-weight: bold;
        font-size: 1rem;
        text-align: center;
        border-radius: 70px; */
        background-color: #C1F7D5;
        color: #05355A;
        margin: 15% 2%;
        font-weight: bold;
        font-size: 1.5rem;
        text-align: center;
        border-radius: 70px;
        padding: 1% 69% 1% 35%;
        padding-right: 90%;
    }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .dou-know {
        background-image: url("./../../../assets/pictures/Collaborate.jpg");
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        width: 100%;
        padding: 10% 6%;
    }
    .text-part {
        color: #FFFFFF;
        text-transform: uppercase;
    }
    .dou-know-head-text {
        font-size: 2.5rem;
        font-family: kalam;
        font-weight: bold;
    }
    .action-btn-wrapper {
        margin: 10%;
        text-align: center;
    }
    .take-action-badge {
        background-color: #C1F7D5;
        border: 1px solid #C1F7D5;
        border-radius: 20px;
        font-weight: bold;
        color: #05355A;
        padding: 2% 7%;
    }
    .do-you-btn-wrapper {
        text-align: center;
    }
    .do-you-know-badge {
        background-color: #05355A;
        border: 1px solid #05355A;
        color: #FFFFFF;
        text-transform: uppercase;
        padding: 3% 10%;
    }
    .do-u-know-item {
        background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0.8) 100%);
        margin: 3%;
        margin-bottom: 7%;
        padding: 5%;
        border-radius: 10px;
    }
    .dou-know-title {
        color: #05355A;
        font-size: 1.5rem;
        font-weight: bold;
    }
    .dou-know-description {
        color: #05355A;
        padding-left: 5%;
        padding: 3%;
        font-size: 1.1rem;
    }
    .social-icons {
        background-color: #C1F7D5;
        color: #05355A;
        margin: 15% 2%;
        font-weight: bold;
        font-size: 1.5rem;
        text-align: center;
        border-radius: 70px;
        padding: 2% 32% 2% 30%;
        padding-right: 95%;
    }
}

@media only screen  and (min-device-width : 320px) and (max-device-width : 480px) {
    .dou-know {
        background-image: url("./../../../assets/pictures/Collaborate.jpg");
        background-repeat: no-repeat;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        width: 100%;
        padding: 10% 6%;
    }
    .dou-know-head-text {
        font-size: 2.0rem;
        font-family: kalam;
        font-weight: bold;
    }
    .text-part {
        color: #FFFFFF;
        text-transform: uppercase;
    }
    .action-btn-wrapper {
        margin: 10%;
        text-align: center;
    }
    .take-action-badge {
        background-color: #C1F7D5;
        border: 1px solid #C1F7D5;
        border-radius: 20px;
        font-weight: bold;
        color: #05355A;
        padding: 2% 7%;
    }
    .do-you-btn-wrapper {
        text-align: center;
        margin-bottom: 10%;
    }
    .do-you-know-badge {
        background-color: #05355A;
        border: 1px solid #05355A;
        color: #FFFFFF;
        text-transform: uppercase;
        padding: 3% 10%;
    }
    .do-u-know-item {
        background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0.8) 100%);
        margin-bottom: 7%;
        border-radius: 10px;
        padding: 5%;
    }
    .dou-know-title {
        color: #05355A;
        font-size: 1.5rem;
        font-weight: bold;
    }
    .dou-know-description {
        color: #05355A;
        padding-left: 5%;
        padding: 3%;
        font-size: 1.1rem;
    }
    .social-icons {
        background-color: #C1F7D5;
        color: #05355A;
        margin: 6% 42%;
        font-weight: bold;
        font-size: 1.5rem;
        text-align: center;
        border-radius: 70px;
        padding: 1% 50% 2% 15%;
    }
    .icons-col {
        width: 25%;
    }
}
/* dou know ends */

/* article starts */

@media only screen  and (min-device-width : 320px) and (max-device-width : 480px) {
    .article-part {
        padding: 5%;
        margin-top: -11% !important;
    }
    .article-image {
        /* height: 300px; */
        margin-left: 5%;
    }
    .carousel-left-part {
        background-color: #05355A;
        padding: 5%;
    }
    .article-image {
        width: 90%;
        height: 250px;
    }
    .article-badge {
        background-color: #05355A;
        border: 1px solid #05355A;
        padding: 1% 8%;
        color: #FFFFFF;
    }
    .carousel-title {
        color: #FFFFFF;
        font-size: 1.6rem;
    }
}
@media only screen  and (min-width : 768px) {
    .carousel-left-part {
        background-color: #05355A;
        padding: 5%;
        margin-right: -6%;
        margin-top: 6%;
        margin-left: 3%;
    }
    .article-part {
        padding: 5%;
        margin-top: -8%;
    }
    .article-image {
        width: 90%;
        height: 400px;
    }
    .article-badge {
        background-color: #05355A;
        border: 1px solid #05355A;
        padding: 1% 5%;
        color: #FFFFFF;
    }
    .carousel-title {
        color: #FFFFFF;
    }
}
.carousel-item {
    padding: 5% 0%;
}
.carousel-description {
    margin-top: 10%;
    color: #FFFFFF;
}
.article-img {
    height: 300px;
}
.readmore-wrapper {
    text-align: center;
    margin: 5%;
    margin-top: 3%;
}
.read-more {
    background-color: #C1F7D5;
    border: 1px solid #C1F7D5;
    padding: 1% 4%;
    border-radius: 20px;
    color: #05355A;
    font-weight: bold;
    text-decoration: none;
}
.article-wrapper {
    text-align: center;
    margin: 2%;
}
.art-img-part {
    text-align: center;
}

/* article ends */

/* pledge starts */
.pledge-part {
    background-color: #C1F7D5;
    border-top: 1px solid #05355A;;
    border-bottom: 1px solid #05355A;;
    padding: 5% 10%;
}
.pledge-description {
    color: #05355A;
    text-transform: uppercase;
}
.btn-wrapper {
    text-align: center;
    margin: 2%;
}
.email-input {
    background-color: #FFFFFF;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 1% 2%;
    margin-top: 3%;
    font-size: 1.3rem;
}
.pledge-button {
    background-color: #05355A;
    border: 1px solid #05355A;
    font-weight: 600;
    color: #FFFFFF;
    border-radius: 20px;
    padding: 1% 5%;
    margin-top: 3%;
}
.pledge-text {
    font-family: kalam;
    font-weight: bold;
    font-size: 2.8rem;
}
@media only screen  and (min-device-width : 320px) and (max-device-width : 480px) {
    .pledge-text {
        font-size: 1.8rem;
        text-transform: uppercase;
        text-align: center;
    }
    .email-input {
        background-color: #FFFFFF;
        border: 1px solid gray;
        border-radius: 10px;
        padding: 1% 2%;
        margin-top: 3%;
        font-size: 1.0rem;
    }
}
/* pledge ends */