<div class="container-body">
    <div class="questionaire-body mb-4">
        <div class="head">CALCULATE YOUR CARBON FOOTPRINT</div>
        <div class="questions mt-4">
            <h3>How big is your living space?</h3>
            <div class="input-group mb-3">
                <!-- <div class="input-group-prepend">
                  <label class="input-group-text" for="inputGroupSelect01">Options</label>
                </div> -->
                <select class="custom-select" id="mySelect">
                  <option value="">Select...</option>
                  <option value="1" selected>Small</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
            </div>
            <h5>If you have shared living spaces, divide it by the number of roommates who use it.</h5>
        </div>
        <div class="questions mt-4">
            <h3>Do you use a car to get around?</h3>
            <div class="input-group mb-3">
                <!-- <div class="input-group-prepend">
                  <label class="input-group-text" for="inputGroupSelect01">Options</label>
                </div> -->
                <select class="custom-select" id="mySelect">
                  <option value="">Select...</option>
                  <option value="1" selected>Yes</option>
                  <option value="2">Two</option>
                  <option value="3">Three</option>
                </select>
            </div>
            <h5>If you use rideshare, drive a hybrid, or rent a car for long trips, check Yes</h5>
        </div>  
        <div class="bottom text-center mb-4">
            <button type="button" class="btn btn-info border-0 text-span mb-2">Calculate my Footprint
            </button>
            <div class="calculation text-center">1.7 tons per year</div>            
        </div> 
        <div class="bottom-sec">
            <span><a href="">Skip</a> <a href="" class="float-right">Go To Status Page</a></span>
        </div>
    </div> 
</div>