<div class="container-body mt-4">
  <div class="questionaire-body mb-4">
    <div class="head">CALCULATE YOUR CARBON FOOTPRINT</div>
    <div class="questions mt-4">
      <h3>How big is your living space?</h3>
      <div class="mb-1">
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" id="customRadioInline1" name="customRadioInline1" class="custom-control-input">
          <label class="custom-control-label" for="customRadioInline1">Small (500 Square Feet)</label>
        </div>
      </div>
      <div class="mb-1">
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" id="customRadioInline2" name="customRadioInline1" class="custom-control-input">
          <label class="custom-control-label" for="customRadioInline2">Medium (1000 Square Feet)</label>
        </div>
      </div>

      <div class="mb-1">
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" id="customRadioInline3" name="customRadioInline1" class="custom-control-input">
          <label class="custom-control-label" for="customRadioInline3">Square Feet Square Feet)
          </label>
        </div>
      </div>

      <div class="mb-2">
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" id="customRadioInline4" name="customRadioInline1" class="custom-control-input">
          <label class="custom-control-label" for="customRadioInline4">Other</label>
        </div>
      </div>
      <h5>If you have shared living spaces, divide it by the number of roommates who use it.</h5>
    </div>
    <div class="questions mt-4">
      <h3>Do you use a car to get around?</h3>
      <div class="mb-1">
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" id="customRadioInline21" name="customRadioInline2" class="custom-control-input">
          <label class="custom-control-label" for="customRadioInline21">Yes</label>
        </div>
      </div>
      <div class="mb-1">
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" id="customRadioInline22" name="customRadioInline2" class="custom-control-input">
          <label class="custom-control-label" for="customRadioInline22">No</label>
        </div>
      </div>

      <div class="mb-1">
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" id="customRadioInline23" name="customRadioInline2" class="custom-control-input">
          <label class="custom-control-label" for="customRadioInline23">Electric Car
          </label>
        </div>
      </div>

      <div class="mb-2">
        <div class="custom-control custom-radio custom-control-inline">
          <input type="radio" id="customRadioInline24" name="customRadioInline2" class="custom-control-input">
          <label class="custom-control-label" for="customRadioInline24">Other</label>
        </div>
      </div>
      <h5>If you use rideshare, drive a hybrid, or rent a car for long trips, check Yes</h5>
    </div>
    <div class="bottom text-center mb-4">
      <button type="button" class="btn btn-info border-0 text-span mb-2">Calculate my Footprint
      </button>
      <div class="calculation text-center">1.7 tons per year</div>
    </div>
    <div class="bottom-sec">
      <span><a href="">Skip</a> <a href="" class="float-right">Go To Status Page</a></span>
    </div>
  </div>
</div>