.container-body {
    background-color: #05355A;
    width: 100%;
    padding: 1em;
}
.head{
    color: #FFFFFF;
    font-size: 2.0em;
    border-bottom: 1px solid #C1F7D5;
    text-align: center;
    padding: 7px;   
    font-family: kalam; 
    font-weight: bold;
    text-transform: uppercase;
}

.questionaire-body{
    margin-left: 20%;
    margin-right: 20%;
}

.questions{
    padding: 8px;
    /* font-family: initial; */
    color: #FFFFFF;
}

.custom-select {
    background-color: #05355A;
    border-color: #05355A;
    color: #C1F7D5;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 0; /* "0 0 2em" reads as margin-top: 0; margin-left: 0; margin-right: 0; margin-bottom: 2em; (32px) */
    font-size: 1.5em;
    padding: 0;
    position: relative;
    width: 100%;
    z-index: 1;
}

/* .input-group {
    width: 50% !important;
} */

h5 {
    color: #C1F7D5;
    border-bottom: 1px solid #C1F7D5;;
}

.calculation{
    color: #FFFFFF;
    font-family: cursive;
    font-size: 33px;
    font-weight: bold;
    font-family: kalam;
    text-transform: uppercase;
    margin: 5%;
}

.bottom-sec > span > a{
    color: #C1F7D5;
}

.custom-control > label {
    color: #C1F7D5;
}
@media only screen  and (min-width : 768px) {
    .input-group {
        width: 50% !important;
    }
    .text-span1 {
        background:#C1F7D5;
        border-radius:50px;
        display: inline-block;
        text-align: center;
        color:rgb(22, 19, 19);
        padding: 3px 60px 6px;
        font-size: 20px;
        font-weight: 600;
        margin: 5%;
    }
}
@media only screen and (min-device-width : 320px) and (max-device-width : 649px) {
    .questionaire-body{
        margin-left: 5%;
        margin-right: 5%;
    }
    .head{
        color: #FFFFFF;
        font-size: 1.5em;
        border-bottom: 1px solid #C1F7D5;
        text-align: center;
        padding: 7px;   
        font-family: kalam; 
        font-weight: bold;
        text-transform: uppercase;
    }
    .text-span1 {
        background:#C1F7D5;
        border-radius:50px;
        display: inline-block;
        text-align: center;
        color:rgb(22, 19, 19);
        /* padding: 3px 60px 6px; */
        font-size: 20px;
        font-weight: 600;
    }
    .calculation{
        color: #FFFFFF;
        font-family: cursive;
        font-size: 33px;
        font-weight: bold;
        font-family: kalam;
        text-transform: uppercase;
        margin: 5%;
    }
}