.container-body {
    background-color: #05355A;
    width: 100%;
    padding: 1em;
}
.head{
    color: #FFFFFF;
    font-size: 1.5em;
    font-family: cursive;
    border-bottom: 1px solid #AEE6AB;
    text-align: center;
    padding: 7px;    
}

.questionaire-body{
    margin-left: 25%;
    margin-right: 25%;
}

.questions{
    padding: 8px;
    font-family: initial;
    color: #FFFFFF;
}

.custom-select {
    background-color: #05355A;
    border-color: #05355A;
    color: #AEE6AB;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0 0; /* "0 0 2em" reads as margin-top: 0; margin-left: 0; margin-right: 0; margin-bottom: 2em; (32px) */
    font-size: 1.5em;
    padding: 0;
    position: relative;
    width: 100%;
    z-index: 1;
}

.input-group {
    width: 50% !important;
}

h5 {
    color: #AEE6AB;
    border-bottom: 1px solid #AEE6AB;;
}

.text-span{
    background:#AEE6AB;
    border-radius:50px;
    display: inline-block;
    text-align: center;
    color:rgb(22, 19, 19);
    padding: 3px 60px 6px;
    font-size: 20px;
    font-weight: 600;
}

.calculation{
    color: #FFFFFF;
    font-family: cursive;
    font-size: 33px;
    font-weight: bold;
}

.bottom-sec > span > a{
    color: #AEE6AB;
}

.custom-control > label {
    color: #AEE6AB;
}

@media screen and (max-width: 600px) {
    .questionaire-body{
        margin-left: 5%;
        margin-right: 5%;
    }
}