<!-- banner starts -->
<section class="wrapper">
    <div class="banner-section">
        <div class="banner">
            <div class="row">
                <div class="col-lg-6 col-md-12 col-xs-6">
                    <span class="right-head-text">
                        <h1 class="right-head-text-main"><strong>Offset Carbon Footprint</strong></h1>
                        <h2 class="banner-footer">#stop climate change.</h2>
                    </span>
                </div>
                <div class="col-lg-6 col-sm-12 col-md-6">
                    <div class="left-banner-part">
                        <div class="issue-wrapper">
                            <div class="issue-badge">THE ISSUE</div>
                        </div>
                        <div class="left-text-part">
                            <h1 class="main-baneer-head">
                                <strong>
                                    We are a team, passionate about helping users offset their carbon footprint and saving the environment in general
                                </strong>
                            </h1>
                        </div>
                    </div>
                </div> 
            </div>
        </div>
    </div>
</section>
<!-- banner ends -->

<!-- mission value starts -->
<section>
    <div class="missions-values">
        <div class="mission-wrapper">
            <button class="mission-badge">MISSION & VALUES</button>
        </div>
        <div class="mission-text">
            We strive to provide a conducive environment to our users to be able to reduce their carbon footprint, as well as collaborate with a others at a global level to contribute towards reversing  climate change.
        </div>
        <div class="row mission-items">
            <div class="col-lg-3 col-md-3 col-sm-6 mission-item">
                <div class="mission-icon">
                    <i class="fa fa-user" aria-hidden="true"></i>
                </div>
                <div class="mission-title">Fight for a cause</div>
                <div class="mission-description">Include all in the fight against climate change</div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 mission-item">
                <div class="mission-icon">
                    <i class="fa fa-globe" aria-hidden="true"></i>
                </div>
                <div class="mission-title">Protect the Earth</div>
                <div class="mission-description">We pledge to do everything in our control to protect the earth</div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 mission-item">
                <div class="mission-icon">
                    <i class="fa fa-sun-o" aria-hidden="true"></i>
                </div>
                <div class="mission-title">Reduce CO2</div>
                <div class="mission-description">Reduce carbon footprint through lifestyle change and sustainable choices</div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 mission-item">
                <div class="mission-icon">
                    <i class="fa fa-book" aria-hidden="true"></i>
                </div>
                <div class="mission-title">Offset Ideas</div>
                <div class="mission-description">Provide users ideas, suggestions and opportunities to offset carbon footprint</div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 mission-item">
                <div class="mission-icon">
                    <i class="fa fa-heart-o" aria-hidden="true"></i>
                </div>
                <div class="mission-title">Collaborate</div>
                <div class="mission-description">Collaborate with other organizations, NGOs, groups to fight climate change</div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 mission-item">
                <div class="mission-icon">
                    <i class="fa fa-hand-paper-o" aria-hidden="true"></i>
                </div>
                <div class="mission-title">Volunteer</div>
                <div class="mission-description">Organize / host events, workshops and volunteer for various activities</div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 mission-item">
                <div class="mission-icon">
                    <i class="fa fa-users" aria-hidden="true"></i>
                </div>
                <div class="mission-title">Publish</div>
                <div class="mission-description">Publish work done by different groups and other events happening around the city</div>
            </div>
            <div class="col-lg-3 col-md-3 col-sm-6 mission-item">
                <div class="mission-icon">
                    <i class="fa fa-bar-chart" aria-hidden="true"></i>
                </div>
                <div class="mission-title">Vizualization</div>
                <div class="mission-description">Reports and dashboards to measure success and recognize archiovements</div>
            </div>
        </div>
    </div>
</section>
<!-- mission value ends -->

<!-- our team starts -->
<section>
    <div class="our-team">
        <div class="our-team-wrapper">
            <button class="our-team-badge">OUR TEAM</button>
        </div>
        <div class="our-team-text">Meet the passionate team and stakeholders with a vision to make world a better place</div>
        <div class="row team-members">
            <div class="col-sm-6 col-md-3 col-lg-3 team-member">
                <div class="team-member-img">
                    <img src="./../../../../assets/pictures/home1.jpg" alt="" class="member-img">
                </div>
                <div class="team-member-name">Tanuja</div>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3 team-member">
                <div class="team-member-img">
                    <img src="./../../../../assets/pictures/home2.jpg" alt="" class="member-img">
                </div>
                <div class="team-member-name">Doshi</div>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3 team-member">
                <div class="team-member-img">
                    <img src="./../../../../assets/pictures/home1.jpg" alt="" class="member-img">
                </div>
                <div class="team-member-name">Saurabh</div>
            </div>
            <div class="col-sm-6 col-md-3 col-lg-3 team-member">
                <div class="team-member-img">
                    <img src="./../../../../assets/pictures/home2.jpg" alt="" class="member-img">
                </div>
                <div class="team-member-name">Ramya</div>
            </div>
        </div>
    </div>
</section>
<!-- our team ends -->

<!-- our impact starts -->
<section>
    <div class="our-impact">
        <div class="impact-wrapper">
            <button class="impact-badge">OUR IMPACT</button>
        </div>
        <div class="impact-text">We work for a better tomorrow for the planet and the future generation.</div>
        <div class="row impact-items">
            <div class="col-sm-12 col-md-3 col-lg-3 impact-item">
                <div class="impact-item-count">200</div>
                <div class="impact-item-text">tons of CO2 reduces by 3450 users in one year</div>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3 impact-item">
                <div class="impact-item-count">40K</div>
                <div class="impact-item-text">trees planted in and around 4 cities</div>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3 impact-item">
                <div class="impact-item-count">2.4</div>
                <div class="impact-item-text">Lakh INR donations made to fight climate change</div>
            </div>
            <div class="col-sm-12 col-md-3 col-lg-3 impact-item">
                <div class="impact-item-count">75</div>
                <div class="impact-item-text">Events hosted in and around 4 cities in India</div>
            </div>
        </div>
    </div>
</section>
<!-- our impact ends -->

<!-- action starts -->
<section>
    <div class="take-action">
        <div class="take-action-text">
            Let's Take Action now to save the future
        </div>
    </div>
</section>
<!-- action ends -->

<!-- donate starts -->
<section>
    <div class="donate">
        <div class="donate-text">
            Donate to plant tree and offset your carbon footprint
        </div>
        <div class="donate-wrapper">
            <button class="donate-btn" (click)="gotoDonate()">Donate</button>
        </div>
    </div>
</section>
<!-- donate ends -->