
@media only screen  and (min-device-width : 320px) and (max-device-width : 480px) {
    .body-margin {
        margin-top: 15%;
    }
}
@media only screen  and (min-width : 768px) {
    .body-margin {
        margin-top: 6%;
    }
}
@media only screen  and (min-width : 1224px) {
    .body-margin {
        margin-top: 6%;
    }
}