<header>
  <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light ">
    <a class="navbar-brand site-name" href="#"><strong>Carbon </strong>Balance</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        <li class="nav-item active">
            <a class="nav-link" href="#">About us</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/auth/login">Sign in / Sign Up</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">News and events</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="/auth/login">Climate Clock</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Take the Pledge</a>
        </li>
        <li class="nav-item nav-item-button">
            <a class="nav-link promo-action" routerLink="/auth/register" ><span class="text-span"><strong>Join Today</strong></span></a>
        </li>
      </ul>
    </div>
  </nav>
</header>