.text-span{
    background:#C1F7D5;
    border-radius:50px;
    display: inline-block;
    text-align: center;
    color:#05355A;
    padding: 6px 19px;
    text-transform: uppercase;
}

header {
    background-color: rgb(243, 247, 250);
    position: fixed;
    width: 100%;
    z-index: 99;
}

.navbar-collapse {
  padding-top: .5rem;
}
.promo-action {
  padding-top: 0.51em;
}
.navbar-toggler {
  position: absolute;
  right: 2%;
  top: 5%;
}
.collapsed {
  position: absolute;
  top: 13%;
}

@media only screen  and (min-device-width : 320px) and (max-device-width : 480px)  {
  .site-name{
    margin-right: 1em;
    /* font-size: 1.5rem; */
    color: #05355A;
    text-transform: uppercase;
  }
  .navbar-nav{
      text-align: center;
  }
  .btn-outline-default {
    color: #949495;
    border: none;
    font-weight: bold;
  }
  .btn-outline-default :hover {
    color: #949495;
    border: none;
    font-weight: bold;
  }
}

@media screen and (min-width: 1224px) {
  .site-name{
    margin-right: 1em;
    font-size: 1.5rem;
    color: #05355A;
    text-transform: uppercase;
  }
  ul > li > a {
    padding: 15px;
    font-weight: bold;
  }
  .nav-item-button {
    margin-top: -0.5%;
  }
  .right-nav-items {
    text-align: right;
  }
  .d-inline-block {
    margin-top: 1%;
  }
}
@media screen and (min-width: 768px) {
  .site-name{
    position: absolute;
    top: 1%;
    margin-right: 1em;
    font-size: 1.5rem;
    color: #05355A;
    text-transform: uppercase;
  }
  ul > li > a {
    /* padding: 15px; */
    font-weight: bold;
    font-size: 0.9rem;

  }
  .nav-item-button {
    margin-top: -0.5%;
  }
  
  .btn-outline-default {
    color: #949495;
    border: none;
    font-weight: bold;
  }
  .btn-outline-default :hover {
    color: #949495;
    border: none;
    font-weight: bold;
  }
}
