.text-span{
    background:rgb(112, 223, 112);
    border-radius:50px;
    display: inline-block;
    text-align: center;
    color:hsl(256, 57%, 17%);
    padding: 3px 19px 6px;
}


header {
    background-color: rgb(243, 247, 250);
}

.site-name{
  margin-top: -8px;
  font-size: 28px;
  color: hsl(256, 57%, 17%);
}

  @media screen and (max-width: 600px) {
    .navbar-nav{
        text-align: center;
    }
  }

  @media screen and (min-width: 601px) {
    /* .navbar {      
      margin: 10px auto 5px 20px;
    } */

    ul > li > a {
      padding: 40px;
      font-weight: bold;
    }
  }