.text-span{
    background:#AEE6AB;
    border-radius:50px;
    display: inline-block;
    text-align: center;
    color:#05355A;
    padding: 6px 19px;
    text-transform: uppercase;
}


header {
    background-color: rgb(243, 247, 250);
    position: fixed;
    width: 100%;
    z-index: 99;
}

.navbar-collapse {
  padding-top: .5rem;
}
.promo-action {
  padding-top: 0.51em;
}
.site-name{
  /* margin-top: -8px; */
  margin-right: 2em;
  font-size: 28px;
  color: #05355A
}

/* header {
  margin-bottom: 10% !important;
} */

  @media screen and (max-width: 600px) {
    .navbar-nav{
        text-align: center;
    }
    /* header {
      margin-bottom: 10%;
    } */
  }

  @media screen and (min-width: 601px) {
    /* .navbar {      
      margin: 10px auto 5px 20px;
    } */

    ul > li > a {
      padding: 15px;
      font-weight: bold;
    }
  }