<section>
    <div class="thanks-main">
        <div class="banner">
            <div class="thanks-text">
                Thank you. Your <br>
                donation helps <br>
                support take <br>
                measured to <br>
                fight climate change.
            </div>
            <div class="share-part">
                <div class="share-btn-wrapper">
                    <button class="share-btn">SHARE</button>
                </div>
                <div class="share-text">
                    “I just donated" to help fight 
                    climate change. Won’t 
                    you join me?
                </div>
                <div class="share-icons">
                    <button class="share-icon">
                        <i class="fa fa-twitter" aria-hidden="true"></i> &nbsp; TWITTER
                    </button>
                    <button class="share-icon">
                        <i class="fa fa-facebook" aria-hidden="true"></i> &nbsp; FACEBOOK
                    </button>
                    <button class="share-icon">
                        <i class="fa fa-envelope" aria-hidden="true"></i> &nbsp; EMAIL
                    </button>
                    <button class="share-icon">
                        <i class="fa fa-comment" aria-hidden="true"></i> &nbsp; TEXT
                    </button>
                </div>
            </div>
        </div>
        <div class="footer">
            <div class="footer-text">
                Thank you so much for giving. We’ve sent a
                receipt for your donation to
                <a href="mailto:yourmail@emailaddress.com" class="mail-link">yourmail@emailaddress.com</a>. If you have any
                questions, please don’t hesitate to reach out to
                <a href="mailto:support@emailaddress.com" class="mail-link">support@emailaddress.com</a>.                
            </div>
            <div class="footer-head">
                We can Take action now to save the future.
            </div>
            <div class="footer-share-icons">
                <button class="share-icon">
                    <i class="fa fa-twitter" aria-hidden="true"></i> &nbsp; TWITTER
                </button>
                <br>
                <button class="share-icon">
                    <i class="fa fa-facebook" aria-hidden="true"></i> &nbsp; FACEBOOK
                </button>
                <br>
                <button class="share-icon">
                    <i class="fa fa-envelope" aria-hidden="true"></i> &nbsp; EMAIL
                </button>
                <br>
                <button class="share-icon">
                    <i class="fa fa-comment" aria-hidden="true"></i> &nbsp; TEXT
                </button>
            </div>
        </div>
    </div>
</section>
