.thanks-main {
    background-color: #05355A;
    padding: 5% 1%;
}
.banner {
    background: url("./../../../../assets/pictures/sea_snow.jpg") no-repeat center center;
    background-size: cover;
    padding: 5%;
}
.footer {
    padding: 5% 5% 0 5%;
}
.mail-link {
    color: #C1F7D5;
    text-decoration: underline;
}
.share-part {
    background-color: #FFFFFF;
    padding: 5%;
    margin-top: 10%;
}

@media only screen  and (min-width : 1224px) {
    .thanks-text {
        color: #FFFFFF;
        font-size: 2.0rem;
        font-weight: bold;
    }
    .footer-head {
        color: #FFFFFF;
        text-transform: uppercase;
        font-family: kalam;
        font-size: 2.5rem;
        font-weight: bold;
    }
    .footer-text {
        color: #FFFFFF;
        font-size: 1.8rem;
        padding-bottom: 5%;
    }
    .share-btn-wrapper {
        text-align: center;
        margin-top: -9%;
    }
    .share-btn {
        background-color: #05355A;
        color: #FFFFFF;
        padding: 2% 10%;
        border: 1px solid #05355A;
    }
    .share-text {
        margin-top: 5%;
        font-size: 2.0rem;
        color: #05355A;
        font-weight: bold;
    }
    .share-icons {
        margin-top: 5%;
        text-align: center;
    }
    .share-icon {
        color: #05355A;
        background-color: #C1F7D5;
        border: 1px solid #C1F7D5;
        border-radius: 25px;
        padding: 1% 8%;
        margin: 1% 5%;
        width: 28%;
    }
    .footer-share-icons {
        margin-top: 5%;
        text-align: left;
        margin-left: -5%;
    }
}

@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    .thanks-text {
        color: #FFFFFF;
        font-size: 1.8rem;
        font-weight: bold;
    }
    .footer-head {
        color: #FFFFFF;
        text-transform: uppercase;
        font-family: kalam;
        font-size: 2.3rem;
        font-weight: bold;
    }
    .footer-text {
        color: #FFFFFF;
        font-size: 1.5rem;
        padding-bottom: 5%;
    }
    .share-btn-wrapper {
        text-align: center;
        margin-top: -10%;
    }
    .share-btn {
        background-color: #05355A;
        color: #FFFFFF;
        padding: 2% 12%;
        border: 1px solid #05355A;
    }
    .share-text {
        margin-top: 5%;
        font-size: 1.8rem;
        color: #05355A;
        font-weight: bold;
    }
    .share-icons {
        margin-top: 5%;
        text-align: center;
    }
    .share-icon {
        color: #05355A;
        background-color: #C1F7D5;
        border: 1px solid #C1F7D5;
        border-radius: 25px;
        padding: 1% 8%;
        margin: 1% 5%;
        width: 35%;
    }
    .footer-share-icons {
        margin-top: 5%;
        text-align: left;
        margin-left: -5%;
    }
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px){
    .thanks-text {
        color: #FFFFFF;
        font-size: 1.5rem;
        font-weight: bold;
    }
    .footer-head {
        color: #FFFFFF;
        text-transform: uppercase;
        font-family: kalam;
        font-size: 2.0rem;
        font-weight: bold;
    }
    .footer-text {
        color: #FFFFFF;
        font-size: 1.0rem;
        padding-bottom: 10%;
    }
    .share-btn-wrapper {
        text-align: center;
        margin-top: -11%;
    }
    .share-btn {
        background-color: #05355A;
        color: #FFFFFF;
        padding: 2% 15%;
        border: 1px solid #05355A;
    }
    .share-text {
        margin-top: 5%;
        font-size: 1.5rem;
        color: #05355A;
        font-weight: bold;
    }
    .share-icons {
        margin-top: 5%;
        text-align: center;
    }
    .share-icon {
        color: #05355A;
        background-color: #C1F7D5;
        border: 1px solid #C1F7D5;
        border-radius: 25px;
        padding: 1% 5%;
        margin: 1% 3%;
        width: 44%;
        font-size: 0.8rem;
    }
}