.take-action {
    background: url("../../../../assets/pictures/tree.jpg") no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover; 
    padding: 30px;
   }

.white-bg {
    background-color: #FFFFFF;
    margin-left: 25%;
    margin-right: 25%;
}

.login-form{
    /* background-color: #fff; */
    margin-left: 25%;
    margin-right: 25%;
    opacity: 0.9;
}

/* .take-action {position: relative;}
.take-action > img, .overlay-text {position: absolute;} */

.overlay-text{
    color: #FFFFFF;
    text-align: right;
    font-family: kalam;
    font-size: 3.5rem;
    text-transform: uppercase;
}

.btn-sign-in {
    background-color: #05355A;
    padding: 7px 0px;
    width: 15%;    
    margin-left: 42%;
    margin-right: 42%;    
    position: absolute;
    margin-top: -22px;
}

.align-middle {
    margin-top:50%;
}

.section-text{
    color: #FFFFFF;
}

.box-text{
    color: #05355A;
    font-weight: bolder;
}

.example-form {
    width: 100%;  
    /* padding: 15px; */
  }
  
  .example-full-width {
    width: 100%;
  }

  mat-form-field.mat-form-field {
    font-size: 16px;
  }

  .social-links {
    text-decoration: none;
  }
  .svg-text{
      font-size: 20px;
      color: #fff;
      font-weight: bolder;
      text-decoration: none;
  }

  .signup-text {
      color: #fff;
  }

  .btn-info {
        background-color: #C1F7D5;
    }

    .ng-star-inserted {
        color: #fff;
    }

    .text-span{
        background:#05355A;
        border-radius:50px;
        display: inline-block;
        text-align: center;
        color: #C1F7D5;
        padding: 3px 60px 6px;
        font-weight: bold;
    }
    .example-margin {        
        color: #fff;
      }

      .instruction {
        color: #AEE6AB;
    }
    
    input {
        border: 0;
        background-color: transparent;
        border-bottom: 2px solid #FFFFFF;
        border-radius: 0px;
        color: #FFFFFF;
    }
    input:focus {
        border: 0;
        background-color: transparent;
        color: #FFFFFF;
        border-bottom: 2px solid #FFFFFF;
        border-radius: 0px;
    }
    
    label {
        color: #FFFFFF;
        font-size: 1 em;
        font-family: 'Roboto';
        font-weight: bold;
    }

    .form-control::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
            color: #CCC;
            opacity: 1; /* Firefox */
    }


      @media screen and (max-width: 600px) {
        .white-bg {
            background-color: #fff;
            margin-left: 5%;
            margin-right: 5%;
        }
    
        .login-form {
            /* background-color: #fff; */
            margin-left: 5%;
            margin-right: 5%;
            opacity: 0.9;
        }
    
        .text-span{
            background:#05355A;
            border-radius:50px;
            display: inline-block;
            text-align: center;
            color: #C1F7D5;
            font-weight: bold;
            padding: 3px 25px 6px !important;
        }
    
        .btn-sign-in{
            background-color: #05355A;
            padding: 7px 0px ;
            width: 24% !important;
            margin-left: 36%;
            margin-right: 38%;
            position: absolute;
            margin-top: -22px;
        }

        .overlay-text{
            text-align: center;
        }
        .box-text{
            color: #05355A;
            font-weight: bolder;
            font-size: 1.6rem;
        }
    }
