<!-- take pledge starts -->
<section>
    <div class="take-pledge">
        <div class="pledge-text">
            I Pledge allegiance with Earth and all the life it supports. I will do everything in my power to have and protect it
        </div>
        <div class="btn-wrapper">
            <input type="text" class="email-input" placeholder="Enter Email Id" />
            <br>
            <button class="pledge-button" (click)="goBack()">Take the Pledge</button>
            <br>
            <button class="pledge-button" (click)="goBack()">May be Later</button>
        </div>
    </div>
</section>
<!-- take pledge ends -->

<!-- pledge-footer starts -->
<section>
    <div class="pledge-footer">
        <div class="pledge-footer-head">
            Offset <br>
            Carbon <br>
            Footprint
        </div>
        <div class="plesge-footer-last">
            #stop climate change.
        </div>
    </div>
</section>
<!-- pledge-footer ends -->
