/* action part starts */
.action-part {
    background-color: #05355A;
}
/* action part ends */

/* invite part starts */
.invite-part {
    background-color: #AEE6AB;
}
/* invite part ends */

/* blog part starts */
.blog-part {
    background-color: #05355A;
}
/* blog part ends */