<!-- action part starts -->
<section>
    <div class="action-part">
        <div class="action-head"><i class="fa fa-male" aria-hidden="true"></i>&nbsp;Take Action</div>
        <div class="action-sub-head">Select the activity from the list below</div>

        <div class="submit-action-wrapper">
            <button class="submit-action-button">Submit My Action</button>
        </div>
        <div class="checkout-action-link">
            <a href="#">Checkout the Carbon Offset Ideas</a>
        </div>
    </div>
</section>
<!-- action part ends -->

<!-- invite part starts -->
<section>
    <div class="invite-part">

    </div>
</section>
<!-- invite part ends -->

<!-- blog part starts -->
<section>
    <div class="blog-part">

    </div>
</section>
<!-- blog part ends -->
