<!-- action part starts -->
<section>
    <div class="action-part">
        <div class="action-head">
            <i class="fa fa-male" aria-hidden="true"></i>&nbsp;&nbsp;Take Action
        </div>
        <div class="action-sub-head">Select the activity from the list below</div>
        <form name="actionForm" #actionForm="ngForm" (ngSubmit)="onSubmit(actionForm)">
            <div class="action-question-part">
            
                <div class="row ques-div" *ngFor="let data of saveObjArray; let i = index">               
                    <div class="col-md-6 col-sm-12 ques">
                        <select name="action{{i}}" #action{{i}} (change)="changeAction(i, $event)">
                            <option *ngFor="let action of actionData; let j = index" [selected]="action.action==data.action" [value]="j">{{ action.action }}</option>
                        </select>
                    </div>                    
                    <div class="col-md-3 col-sm-12 ques" > 
                        <select name="actionOption{{i}}" #actionOption{{i}} class="action-question options" (change)="changeOption(i, $event)">
                            <option *ngFor="let option of data.options; let j = index" [value]="j" [selected]="j == data.selectedOption"> {{option.optionText}}</option>
                        </select>
                    </div> 
                    <div class="col-md-3 col-sm-12 " > 
                        <div class="input-group" *ngIf="data.options[data.selectedOption].optionText == 'Other' ">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="basic-addon3" >Custom value</span>
                              </div>
                            <input type="number" class="form-control" [value]="data.otherInput" placeholder="Custom value" (keyup)="otherInputFunc(i, $event)">
                        </div>
                    </div>                   
                </div>
                
                <div class="add-question" *ngIf="saveObjArray?.length < actionData?.length">
                    <button type="button" class="btn add-question-button" (click)="addAction()">
                        <i class="fa fa-plus" aria-hidden="true"></i>&nbsp;<span class="add-action-text">Add New Action</span>
                    </button>
                </div>
                <div class="submit-action-wrapper">
                    <button class="btn submit-action-button">Submit My Action</button>
                </div>
            </div>
        </form>
        <div class="checkout-action-link-part">
            <a routerLink="/pages/calculate-co2" class="checkout-action-link">Checkout the Carbon Offset Ideas</a>
        </div>
    </div>
</section>
<!-- action part ends -->

<!-- invite part starts -->
<section>
    <div class="invite-part">
        <div class="invite-head">
            <i class="fa fa-user-plus" aria-hidden="true"></i>&nbsp;Invite a Friend
        </div>
        <div class="invite-form-part">
            <div class="form-row">
                <div class="form-group col-xs-6 col-md-6 col-sm-6">
                    <label for="inputEmail4" class="invite-label">FIRST NAME</label>
                    <input type="email" class="form-control invite-input" id="inputEmail4">
                </div>
                <div class="form-group col-xs-6 col-md-6 col-sm-6">
                    <label for="inputPassword4" class="invite-label">LAST NAME</label>
                    <input type="password" class="form-control invite-input" id="inputPassword4">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-xs-12 col-md-12 col-sm-12">
                    <label for="inputEmail4" class="invite-label">EMAIL ID</label>
                    <input type="email" class="form-control invite-input" id="inputEmail4">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-xs-12 col-md-12 col-sm-12">
                    <label for="inputEmail4" class="invite-label">PHONE NUMBER</label>
                    <input type="number" class="form-control invite-input" id="inputEmail4">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-xs-12 col-md-12 col-sm-12">
                    <label for="inputEmail4" class="invite-label">MESSAGE</label>
                    <textarea class="form-control" rows="5"></textarea>
                </div>
            </div>
        </div>
        <!-- <div class="invite-text-box">
            <p>Hey There. I am doing amazing work with 
                Carbon Balance group to offset my Carbon 
                Foot print. Would you join me?
            </p>
        </div> -->
        <div class="invite-wrapper">
            <button class="invite-button">
                <i class="fa fa-envelope" aria-hidden="true"></i> &nbsp;&nbsp;&nbsp; Send My Invite
            </button>
        </div>
    </div>
</section>
<!-- invite part ends -->

<!-- blog part starts -->
<section>
    <div class="blog-part">
        <div class="blog-head">
            <i class="fa fa-book" aria-hidden="true"></i> &nbsp;WRITE A BLOG
        </div>
        <div class="blog-form-part">
            <div class="form-row">
                <div class="form-group col-xs-12 col-md-12 col-sm-12">
                    <label for="inputEmail4" class="blog-label">HEADING: </label>
                    <input type="text" class="form-control blog-input" id="inputEmail4">
                </div>
            </div>
            <div class="form-row">
                <div class="form-group col-xs-12 col-md-12 col-sm-12">
                    <label for="inputEmail4" class="blog-label">BLOG</label>
                    <textarea class="form-control" rows="10"></textarea>
                </div>
            </div>
        </div>
        <div class="form-button-wrapper">
            <button class="blog-submit-button">Preview</button>
            &nbsp;&nbsp;&nbsp;
            <button class="blog-submit-button">Submit</button>
        </div>
        <div class="upload-img-part">
            <div class="upload-image-head">UPLOAD PICTURES</div>
            <p class="upload-text-1">Have something to share? <br>
                From your last event or may be the new solar
                panel you have installed in your roof....
            </p>
            <p class="upload-text-2">Share images that will
                encourage others to take this
                Journey to help the planet
            </p>
            <div class="upload-wrapper">
                <button class="upload-button">Upload</button>
            </div>
        </div>
        <div class="blog-footer">
            # Offset Carbon Footprint
        </div>
    </div>
</section>
<!-- blog part ends -->
