
<footer>
    <div class="row footer-desktop">
        <div class="col-lg-3 col-sm-6 ">
            <a class="site-name" routerLink="/"><strong>Carbon </strong>Balance</a>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div>
                <u class="f-head">CONTACT US</u>
            </div>
            <div class="top-marging-links">
                Address of head office<br>
                Phone number of call center
            </div>
        </div>
        <div class="col-lg-2 col-sm-6">
            <div>
                <u class="f-head">FOLLOW US</u>
            </div>
            <div class="top-marging-links">
                <a href="#">Facebook</a>
            </div>  
            <div class="top-marging-links">
                <a href="#">Twitter</a>
            </div>         
            <div class="top-marging-links">                    
                <a href="#">Instagram</a>
            </div>
        </div>
        <div class="col-lg-2 col-sm-6">            
            <div>
                <u class="f-head">LEARN MORE</u>
            </div>
            <div class="top-marging-links">
                <a href="#">The issue</a>
            </div>  
            <div class="top-marging-links">
                <a href="#">How we help</a>
            </div>         
            <div class="top-marging-links">                    
                <a href="#">Get involved</a>
            </div>
            <div>
                <a href="#">Latest news</a>
            </div>         
            <div class="top-marging-links">                    
                <a href="#">Archived Links, News</a>
            </div>
        </div>
        <div class="col-lg-2 col-sm-6 footer-text-last-col">            
            <div class="footer-last">
                #STOP
                CLIMATE
                CHANGE
            </div>
        </div>
    </div>
</footer>