h3, strong {
    color: #05355A;
}
ul {
    color: #05355A;
    list-style-type: none;
}

.top-marging-links{
    margin-top: 10px;
}
div a {
    color: #05355A;
}

@media screen and (max-width: 600px) {
    .col-sm-6 div:first-child{
        margin-top: 10px;
        font-weight: 500;
    }
}

footer {
    background-color: #FFFFFF;
    /* margin: 10px auto 5px 20px; */
}

.footer-desktop {
    padding: 20px;
    background-size: 100%;
}

.footer-text-last-col{
    font-family: cursive;
    font-size: 33px;
    font-weight: bold;
    color: #05355A;
}

.site-name{
    margin-top: -8px;
    font-size: 24px;
    text-transform: uppercase;
    color: #05355A;
  }