<!-- banner starts -->
<section>
    <div class="banner">
        <img src="./../../../../assets/pictures/Protest.jpg" alt="banner-img" class="banner-img">
        <h2 class="weclome-text">WELCOME MEERA</h2>
    </div>
</section>
<!-- banner ends-->

<!-- carbon score starts -->
<section>
    <div class="score">
        <div class="row score-head">
            <div class="col-lg-8 col-md-8 col-sm-8">Carbon Score</div>
            <div class="col-lg-4 col-md-4 col-sm-4"></div>
        </div>
        <div class="row score-list">
            <div class="col-lg-8 col-md-8 col-sm-8">Yearly Carbon Footprint</div>
            <div class="col-lg-4 col-md-4 col-sm-4"><b>1.6 Ton</b></div>
        </div>
        <div class="row score-list">
            <div class="col-lg-8 col-md-8 col-sm-8">Carbon Offset Points</div>
            <div class="col-lg-4 col-md-4 col-sm-4"><b>1.6 Ton</b></div>
        </div>
        <div class="row score-list">
            <div class="col-lg-8 col-md-8 col-sm-8">Remaining CO2 to offset</div>
            <div class="col-lg-4 col-md-4 col-sm-4"><b>1 Ton</b></div>
        </div>
        <div class="row carbon-offset-link-space">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <a href="#" class="carbon-offset-link">Checkout the Carbon Offset Idea</a>
            </div>
        </div>
    </div>
</section>
<!-- carbon score starts -->

<!-- donate starts -->
<section>
    <div class="donate-section">
        <div class="row donate-section-list">
            <div class="col-md-7 col-lg-7 col-sm-7">My Contributions</div>
            <div class="col-md-5 col-lg-5 col-sm-5">
                <button class="donate-section-badge">11 Actions</button>
            </div>
        </div>
        <div class="row donate-section-list">
            <div class="col-md-7 col-lg-7 col-sm-7">Events In Pipeline</div>
            <div class="col-md-5 col-lg-5 col-sm-5">
                <button class="donate-section-badge">4</button>
            </div>
        </div><div class="row donate-section-list">
            <div class="col-md-7 col-lg-7 col-sm-7">Bulletin Board</div>
            <div class="col-md-5 col-lg-5 col-sm-5">
                <button class="donate-section-badge">5 New</button>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <a href="#" class="footprint-link">Re-baseline footprint</a>
            </div>
        </div>
        <div class="donate-button-wrapper">
            <button class="donate-button">Donate</button>
        </div>
    </div>
</section>
<!-- donate ends -->

<!-- action starts -->
<section>
    <div class="action-section">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 action-head">
                <div class="action-wrapper">
                    <button class="action-badge">TAKE ACTION</button>
                </div>
            </div>
        </div>
        <div class="row actions">
            <div class="col-lg-2 col-md-4 col-sm-6">
                <div class="action-title">Learn</div>
                <div class="action-description">
                    Get the facts about this issue and how we’re helping.
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6">
                <div class="action-title">Carbon footprint</div>
                <div class="action-description">
                    Take the questionnaire to calculate your carbon footprint
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6">
                <div class="action-title">Volunteer</div>
                <div class="action-description">
                    Find out about upcoming events that need your help.
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6">
                <div class="action-title">Take Action</div>
                <div class="action-description">
                    Do something reduce your carbon footprint and log it here
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6">
                <div class="action-title">Share</div>
                <div class="action-description">
                    Let your social media networks know about your effort towards this cause.
                </div>
            </div>
            <div class="col-lg-2 col-md-4 col-sm-6">
                <div class="action-title">Donate</div>
                <div class="action-description">
                    Help NGOs raise money to make a big difference with this issue.
                </div>
            </div>
        </div>
    </div>
</section>
<!-- action ends -->

<!-- post and gallery starts -->
<section>
    <div class="gallery-section">
        <div class="post-head"><h2 class="gallery-head">LATEST POST</h2></div>
        <div class="post-content">
            <div>
                <h3>Title of latest blog post</h3>
            </div>
            <br>
            <div>Latest Blog on Climate change effect, carbon emission etc.</div>
            <br>
            <div>
                <a href="#" class="post-link">Continue reading this post</a>
            </div>
        </div>
        <div class="post-head"><h2 class="gallery-head">GALLERY</h2></div>
        <div class="post-content">
            <div>
                <h3>Single picture worth thousand words. </h3>
            </div>
            <br>
            <div>There are 3567 pictures in the gallery uploaded by users like you.....</div>
            <br>
            <div>
                <a href="#" class="post-link">Go to Gallery</a>
            </div>
        </div>
    </div>
</section>
<!-- post and gallery ends -->


