/* banner starts */
.banner {
    text-align: center;
    background-color: #05355A;
    padding: 0 5% 3%;
}

@media only screen  and (min-device-width : 320px) and (max-device-width : 480px) {
    .profile-image-part {
        margin: 4% 2%;
    }
    .profile-img {
        height: 85px;
        width: 85px;
        float: right;
        border: 3px solid gray;
        border-radius: 100%;
        margin-top: 1%;
    }
    .banner-img {
        /* border: 5px solid #C1F7D5; */
        /* border-radius: 20px; */
        background-image: url("./../../../../assets/pictures/Protest.jpg");
        height: 200px;
        background-size: cover;
        width: 100%;
    }
    .weclome-text {
        margin-top: 3%;
        color: #FFFFFF;
        font-family: kalam;
        font-weight: bold;
        font-size: 1.5rem;
        text-transform: uppercase;
    }
}
@media only screen  and (min-width : 768px) {
    .profile-image-part {
        margin: 4% 2%;
    }
    .profile-img {
        height: 100px;
        width: 100px;
        float: right;
        border: 3px solid gray;
        border-radius: 100%;
        margin-top: 1%;
    }
    .banner-img {
        /* border: 5px solid #C1F7D5; */
        /* border-radius: 20px; */
        /* background-image: url("./../../../../assets/pictures/Protest.jpg"); */
        height: 400px;
        background-size: cover;
        background-position: center;
        width: 100%;
    }
    .weclome-text {
        margin-top: 3%;
        color: #FFFFFF;
        font-family: kalam;
        font-weight: bold;
        font-size: 2.5rem;
        text-transform: uppercase;
    }
}

/* banner ends */

/* score starts */
.score-select {
    border: none;
    background-color: #C1F7D5;
    color: #05355A;
    font-weight: bold;
}
.score-select :focus {
    border: none;
    background-color: #C1F7D5;
    color: #05355A;
    font-weight: bold;
}
@media only screen  and (min-device-width : 320px) and (max-device-width : 480px) {
    .score {
        background-color: #C1F7D5;
        color: #05355A;
        padding: 5%;
    }
    .score-head {
        font-weight: bold;
        font-size: 1.3rem;
        margin-bottom: 1%;
        font-family: kalam;
    }
    .score-des {
        text-align: left;
    }
    .score-value {
        /* text-align: right; */
        font-family: kalam;
        text-transform: uppercase;
    }
    td {
        text-align: center;
    }
    .score-list {
        font-size: 1.1rem;
    }
    .carbon-offset-link, a {
        margin-top: 5%;
        color: #05355A;
        font-size: 1.3rem;
        text-decoration: underline;
    }
    .carbon-offset-link-space {
        margin-top: 5%;
    }
}
@media only screen  and (min-width : 768px) {
    .score {
        background-color: #C1F7D5;
        color: #05355A;
        padding: 5% 15%;
    }
    .score-head {
        font-weight: bold;
        font-size: 1.8rem;
        margin-bottom: 1%;
        font-family: kalam;
    }
    .score-value {
        font-family: kalam;
        text-transform: uppercase;
    }
    .score-list {
        font-size: 1.5rem;
    }
    .carbon-offset-link-space {
        margin-top: 5%;
    }
    .carbon-offset-link {
        margin-top: 5%;
        color: #05355A !important;
        font-size: 1.5rem;
        text-decoration: underline;
    }
}

/* score ends */

/* donate section starts */
@media only screen  and (min-device-width : 320px) and (max-device-width : 480px) {
    .donate-section-badge {
        width: 100%;
        background-color: #C1F7D5;
        border: 1px solid #C1F7D5;
        color: #05355A;
        padding: 0.5% 1%;
        border-radius: 25px;
        font-size: 1.3rem;
        margin-bottom: 2%;
    }
    .score-text {
        text-align: left;
        font-size: 1.3rem;
    }
    .donate-section-list {
        margin: 2% 1%;
    }
    .donate-button {
        background-color: #C1F7D5;
        border: 1px solid #C1F7D5;
        color: #05355A;
        padding: 1% 10%;
        border-radius: 25px;
        font-weight: bold;
        margin-bottom: 10%;
    }
    .donate-table {
        margin: 0 1%;
    }
    .rebase-link {
        margin: 3% 0;
        margin-left: -3%;
    }
    .footprint-link {
        /* margin: 5% 4%; */
        color: #FFFFFF;
        text-decoration: underline;
    }
}
@media only screen  and (min-width : 768px) {
    .donate-section-badge {
        width: 50%;
        background-color: #C1F7D5;
        border: 1px solid #C1F7D5;
        color: #05355A;
        padding: 0.5% 2%;
        border-radius: 25px;
        margin-bottom: 2%;
    }
    .donate-table {
        margin: 0 5%;
    }
    .donate-button {
        background-color: #C1F7D5;
        border: 1px solid #C1F7D5;
        color: #05355A;
        padding: 1% 10%;
        border-radius: 25px;
        font-weight: bold;
        margin-bottom: 1%;
    }
    .rebase-link {
        margin: 3% 0;
    }
    .footprint-link {
        margin: 5% 4%;
        color: #FFFFFF;
        text-decoration: underline;
    }
   
    a:hover {
        color: #e7b649 !important;
        text-decoration: underline;
    }
}
.donate-section {
    background-color: #05355A;
    padding: 5% ;
    color: #FFFFFF;
    font-size: 1.5rem;
}



.donate-section-list {
    margin: 2%;
    padding: 2%;
}
.donate-button-wrapper {
    text-align: center;
}

/* .carousel-indicators {
    color: blue;
} */
/* donate section ends */

/* action starts */

@media only screen  and (min-width : 1224px) {
    .action-items {
        padding: 2% 5%;
    }
    .action-section {
        background-color: #C1F7D5;
        /* padding: 2%; */
    }
    .action-head {
        margin-top: -2% !important;
    }
    .action-wrapper {
        text-align: center;
    }
    .action-badge {
        color: #FFFFFF;
        background-color: #05355A;
        border: 1px solid #05355A;
        padding: 1% 4%;
       
    }
    .actions {
        padding: 3%;
    }
    .action-title {
        color: #05355A;
        font-weight: bold;
        margin-bottom: 2%;
        font-size: 1.2rem;
        text-decoration: none;
    }
    .action-description {
        color: #05355A;
    }
    .action-btn-wrapper {
        text-align: center;
    }
    .action-btn {
        background-color: #05355A;
        border: 1px solid #05355A;
        color: #C1F7D5;
        border-radius: 25px;
        padding: 1% 5%;
        margin: 1%;
    }
    .action-btn-link {
        color: #C1F7D5;
        text-decoration: none;
    }
}

@media only screen  and (min-width : 768px) {
    .action-btn-wrapper {
        text-align: center;
    }
    .action-btn {
        background-color: #05355A;
        border: 1px solid #05355A;
        color: #C1F7D5;
        border-radius: 25px;
        padding: 1% 10%;
        margin: 2%;
    }
    .action-btn-link {
        color: #C1F7D5;
        text-decoration: none;
    }
    .action-items {
        padding: 2% 5%;
    }
    .action-section {
        background-color: #C1F7D5;
        /* padding: 2%; */
    }
    .action-head {
        margin-top: -2% !important;
    }
    .action-wrapper {
        text-align: center;
    }
    .action-badge {
        color: #FFFFFF;
        background-color: #05355A;
        border: 1px solid #05355A;
        padding: 1% 4%;
        margin: 0.7em !important;
    }
    .actions {
        padding: 3%;
    }
    .action-title {
        color: #05355A;
        font-weight: bold;
        margin-bottom: 2%;
        font-size: 1.2rem;
        text-decoration: none;
        text-align: center;
    }
    .action-description {
        color: #05355A;
        text-align: center;
    }
}

@media only screen  and (min-device-width : 320px) and (max-device-width : 480px){
    .action-btn-wrapper {
        text-align: center;
    }
    .action-btn {
        background-color: #05355A;
        border: 1px solid #05355A;
        color: #C1F7D5;
        border-radius: 25px;
        padding: 1% 10%;
        margin: 1%;
        font-size: 1.0rem;
    }
    .action-btn-link {
        color: #C1F7D5;
        text-decoration: none;
        font-size: 1.0rem;
    }
    .action-items {
        padding: 5%;
        display: grid;
        grid-template-columns: 4fr;
    }
    .action-section {
        background-color: #C1F7D5;
        /* padding: 2%; */
    }
    .action-head {
        margin-top: -2% !important;
    }
    .action-wrapper {
        text-align: center;
    }
    .action-badge {
        color: #FFFFFF;
        background-color: #05355A;
        border: 1px solid #05355A;
        padding: 0.5em 2em;
        margin: -2.3em;
    }
    .actions {
        padding: 3%;
    }
    .action-title {
        color: #05355A;
        font-weight: bold;
        margin: 2%;
        text-align: center;
        font-size: 1.2rem;
        text-decoration: none;
    }
    .action-description {
        color: #05355A;
        text-align: center;
    }
}
a:hover {
    color: #e7b649 !important;
    text-decoration: underline;
}
/* action ends */

/* post and gallery starts */
.gallery-section {
    background-color: #05355A;
    padding: 3%;
}
.post-head {
    margin-top: 2%;
    color: #FFFFFF;
    margin: 2%;
    font-family: kalam;
}
.post-content {
    margin: 1%;
    padding: 5%;
    color: #05355A;
    background-color: #C1F7D5;
}
.post-link {
    color: #05355A;
    text-decoration: underline;
}
.post-img {
    width: 48%;
    /* height: 250px; */
    margin: 1.5% 1%;
}
.gallery-head {
    font-size: 2.5rem;
    font-weight: bold;
    /* margin-top: 4%; */
}
.gallery-head1 {
    font-size: 2.5rem;
    font-weight: bold;
    /* margin-top: 4%; */
}
.blog-text {
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3; /* number of lines to show */
    -webkit-box-orient: vertical;
}
.blog-head {
    font-weight: bold;
    /* font-size: 1.6rem; */
}

@media only screen  and (min-device-width : 320px) and (max-device-width : 480px) {
    .blog-head {
        font-weight: bold;
        font-size: 1.6rem;
    }
    .gallery-head {
        font-size: 1.8rem;
        font-weight: bold;
    }
    .gallery-head1 {
        font-size: 1.8rem;
        font-weight: bold;
        margin-top: 4%;
    }
    .post-img {
        height: 100px;
        margin: 1.5% 0.5%;
    }
}
/* post and gallery ends */
