<!-- banner starts -->
<section>
    <div class="banner">
        <div class="banner-img" [ngStyle]="{'background-image': 'url(' + bannerImage + ')'}">
            <div class="profile-image-part">
                <img src="{{profileImage}}" alt="banner-img" class="profile-img">
            </div>
        </div>
        <!-- <img src="./../../../../assets/pictures/Protest.jpg" alt="banner-img" class="banner-img"> -->
        <h2 class="weclome-text">WELCOME {{userName}}</h2>
    </div>
</section>
<!-- banner ends-->

<!-- carbon score starts -->
<section>
    <div class="score">
        <!-- <div class="row score-head">
            <div class="col-lg-8 col-md-8 col-sm-8">CARBON SCORE</div>
            <div class="col-lg-4 col-md-4 col-xs-6">
                <select name="" id="" class="score-select">
                    <option value="YEARLY">YEARLY</option>
                    <option value="MONTHLY">MONTHLY</option>
                </select>
            </div>
        </div> -->
        <div>
            <table width="100%">
                <tr class="score-head">
                    <td class="score-des">CARBON SCORE</td>
                    <td class="score-value">
                      <select name="" id="" class="score-select" (change)="onChange($event)">
                          <option value="yearly">YEARLY</option>
                          <option value="lifetime">LIFE TIME</option>
                      </select>
                    </td>
                  </tr>
                <tr class="score-list">
                  <td class="score-des">Yearly Carbon Footprint</td>
                  <td class="score-value"><b>{{totalCarbonFootprint}} Ton</b></td>
                </tr>
                <tr class="score-list">
                    <td class="score-des">Carbon Offset Points</td>
                    <td class="score-value"><b>{{actionFootprint}} Ton</b></td>
                </tr>
                <tr class="score-list">
                    <td class="score-des">Remaining CO2 to offset</td>
                    <td class="score-value"><b>{{remainingFootprint}} Ton</b></td>
                </tr>
            </table>
        </div>
        <!-- <div class="row score-list">
            <div class="col-lg-8 col-md-8 col-sm-8">Yearly Carbon Footprint</div>
            <div class="col-lg-4 col-md-4 col-xs-6 score-value"><b>1.6 Ton</b></div>
        </div> -->
        <!-- <div class="row score-list">
            <div class="col-lg-8 col-md-8 col-sm-8">Carbon Offset Points</div>
            <div class="col-lg-4 col-md-4 col-xs-6 score-value"><b>1.6 Ton</b></div>
        </div>
        <div class="row score-list">
            <div class="col-lg-8 col-md-8 col-sm-8">Remaining CO2 to offset</div>
            <div class="col-lg-4 col-md-4 col-xs-6 score-value"><b>1 Ton</b></div>
        </div> -->
        <div class="row carbon-offset-link-space">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <a  [routerLink]="[ '/pages/calculate-co2' ]" class="carbon-offset-link">Checkout the Carbon Offset Idea</a>
            </div>
        </div>
    </div>
</section>
<!-- carbon score starts -->

<!-- donate starts -->
<section>
    <div class="donate-section">
        <table width="100%" class="donate-table">
            <tr class="donate-section-list">
                <td class="score-text">My Contributions</td>
                <td class="score-value">
                    <button class="donate-section-badge">11 Actions</button>
                </td>
            </tr>
            <tr class="donate-section-list">
                <td class="score-text">Events In Pipeline</td>
                <td class="score-value">
                    <button class="donate-section-badge">4</button>
                </td>
            </tr>
            <tr class="donate-section-list">
                <td class="score-text">Bulletin Board</td>
                <td class="score-value">
                    <button class="donate-section-badge">5 New</button>
                </td>
            </tr>
        </table>
        <!-- <div class="row donate-section-list">
            <div class="col-md-7 col-lg-7 col-sm-7">My Contributions</div>
            <div class="col-md-5 col-lg-5 col-sm-5">
                <button class="donate-section-badge">11 Actions</button>
            </div>
        </div>
        <div class="row donate-section-list">
            <div class="col-md-7 col-lg-7 col-sm-7">Events In Pipeline</div>
            <div class="col-md-5 col-lg-5 col-sm-5">
                <button class="donate-section-badge">4</button>
            </div>
        </div><div class="row donate-section-list">
            <div class="col-md-7 col-lg-7 col-sm-7">Bulletin Board</div>
            <div class="col-md-5 col-lg-5 col-sm-5">
                <button class="donate-section-badge">5 New</button>
            </div>
        </div> -->
        <div class="row rebase-link">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <a href="#" class="footprint-link">Re-baseline footprint</a>
            </div>
        </div>
        <div class="donate-button-wrapper">
            <button class="donate-button" (click)="gotoDonateOptions()">Donate</button>
        </div>
    </div>
</section>
<!-- donate ends -->

<!-- action starts -->
<section>
    <div class="action-section">
        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 action-head">
                <div class="action-wrapper">
                    <button class="action-badge">TAKE ACTION</button>
                </div>
            </div>
        </div>
        <div class="row action-items">
            <div class="col .col-sm-6 box">
                <div class="action-title">Learn</div>
                <div class="action-description">
                    Get the facts about this issue and how we’re helping.
                </div>
            </div>
            <div class="col .col-sm-6 box">
                <div class="action-title">Carbon footprint</div>
                <div class="action-description">
                    Take the questionnaire to calculate your carbon footprint
                </div>
            </div>
            <div class="col .col-sm-6 box">
                <div class="action-title">Volunteer</div>
                <div class="action-description">
                    Find out about upcoming events that need your help.
                </div>
            </div>
            <div class="col .col-sm-6 box">
                <div class="action-title">
                    <a class="action-title" [routerLink]="[ '/pages/take-action' ]">Take Action</a>
                </div>
                <div class="action-description">
                    Do something reduce your carbon footprint and log it here
                </div>
            </div>
            <div class="col .col-sm-6 box">
                <div class="action-title">Share</div>
                <div class="action-description">
                    Let your social media networks know about your effort towards this cause.
                </div>
            </div>
            <div class="col .col-sm-6 box">
                <div class="action-title">
                    <a class="action-title" [routerLink]="[ '/pages/donate-options' ]">Donate</a>
                </div>
                <div class="action-description">
                    Help NGOs raise money to make a big difference with this issue.
                </div>
            </div>
        </div>
    </div>
</section>
<!-- action ends -->

<!-- post and gallery starts -->
<section>
    <div class="gallery-section">
        <div class="post-head"><h2 class="gallery-head">LATEST POST</h2></div>
        <div class="post-content">
            <div>
                <h3 class="blog-head">Why Variations in Earth's Magnetic Field Aren't Causing Today's Climate Change</h3>
            </div>
            <div class="blog-text">
                Earth is surrounded by an immense magnetic field, called the magnetosphere. Generated by powerful, dynamic forces at the center of our world, our magnetosphere shields us from erosion of our atmosphere by the solar wind, particle radiation from coronal mass ejections (eruptions of large clouds of energetic, magnetized plasma from the Sun’s corona into space), and from cosmic rays from deep space.
            </div>
            <br>
            <div>
                <a target="_blank" href="https://climate.nasa.gov/blog/3104/flip-flop-why-variations-in-earths-magnetic-field-arent-causing-todays-climate-change/" class="post-link">Continue reading this post</a>
            </div>
        </div>
        <div class="post-head"><h2 class="gallery-head1">GALLERY</h2></div>
        <div class="post-content">
            <div>
                <h3 class="blog-head">Single picture worth thousand words. </h3>
            </div>
            <div class="post-images">
                <img src="./../../../../assets/pictures/Awareness.jpg" alt="" class="post-img">
                <img src="./../../../../assets/pictures/Leader.jpg" alt="" class="post-img">
            </div>
            <div>There are 3567 pictures in the gallery uploaded by users like you.....</div>
            <br>
            <div>
                <a href="#" class="post-link">Go to Gallery</a>
            </div>
        </div>
    </div>
</section>
<!-- post and gallery ends -->


